{% load i18n static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Ferdolt Web" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'frontend/assets/images/favicon.ico' %}">

    <link href="{% static 'frontend/plugins/jvectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet">

    <!-- App css -->
    <link rel="stylesheet" href="{% static 'frontend/accordion/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/css/app.min.css' %}">
    <link href="{% static 'frontend/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'frontend/assets/css/icons.min.css' %}" r el="stylesheet" type="text/css" />
    <link href="{% static 'frontend/assets/css/metisMenu.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'frontend/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'frontend/assets/js/jquery.min.js' %}"></script>

    <style>
        .page-wrapper {
            overflow-x: scroll;
        }

        .top-bar {
            margin-top: 64px;
        }

        .cd-accordion {
            background-color: white;
        }

        #messages.active {
            z-index: 1300;
        }
    </style>

    {% block extra_styles %}
    {% endblock %}
</head>

<body>
    <!-- Left Sidenav -->
    <div class="left-sidenav">
        <!-- LOGO -->
        <div class="brand">
            <a href="index.html" class="logo">
                <span>
                    <!-- <img src="assets/images/logo-sm.png" alt="logo-small" class="logo-sm"> -->
                </span>
                <!-- <span>
                    <img src="assets/images/logo.png" alt="logo-large" class="logo-lg logo-light">
                    <img src="assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark">
                </span> -->
            </a>
        </div>
        <!--end logo-->
        <div class="menu-content h-100" data-simplebar>
            <ul class="metismenu left-sidenav-menu">
                <li class="menu-label mt-0">Main</li>
                <li>
                    <a href="javascript: void(0);"> <i data-feather="home"
                            class="align-self-center menu-icon"></i><span>{% trans "Dashboard" %}</span><span
                            class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item"><a class="nav-link" href="{% url 'frontend:index' %}"><i
                                    class="ti-control-record"></i>{% trans "Statistics" %}</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);"><i data-feather="grid"
                            class="align-self-center menu-icon"></i><span>{% trans "Data" %}</span><span
                            class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item"><a class="nav-link" href="{% url 'frontend:databases' %}"><i
                                    data-feather="database" class="align-self-center menu-icon"></i>{% trans "Databases" %}</a></li>

                        <li class="nav-item"><a class="nav-link" href="{% url 'frontend:tables' %}"><i
                                    class="ti-control-record"></i>{% trans "Tables" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'frontend:columns' %}"><i
                                    class="ti-control-record"></i>{% trans "Columns" %}</a></li>
                    </ul>
                </li>

                <!-- <li class="nav-item"><a class="nav-link" href="{% url 'frontend:servers' %}"><i
                            data-feather="hard-drive" class="align-self-center menu-icon"></i>{% trans "Servers" %}</a>
                </li> -->

                <li>
                    <a href="javascript: void(0)">
                        <i data-feather="filter" class="align-self-center menu-icon"></i>
                        <span>Activities</span>
                    </a>

                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item">
                            <a href="{% url 'frontend:extractions' %}" class="nav-link">
                                <i data-feather="upload-cloud" class="align-self-center menu-icon"></i> {% trans "Extractions" %}
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'frontend:synchronizations' %}" class="nav-link">
                                <i data-feather="download-cloud" class="align-self-center menu-icon"></i> {% trans "Synchronizations" %}
                            </a>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="{% url 'frontend:file_manager' %}"><i
                                    class="align-self-center menu-icon" data-feather="file"></i>{% trans "File Manager"
                                %}</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);"><i data-feather="lock"
                            class="align-self-center menu-icon"></i><span>Authentication</span><span
                            class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item"><a class="nav-link" href="auth-login.html"><i
                                    class="ti-control-record"></i>Log in</a></li>
                        <li class="nav-item"><a class="nav-link" href="auth-register.html"><i
                                    class="ti-control-record"></i>Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="auth-recover-pw.html"><i
                                    class="ti-control-record"></i>Recover Password</a></li>
                        <li class="nav-item"><a class="nav-link" href="auth-lock-screen.html"><i
                                    class="ti-control-record"></i>Lock Screen</a></li>
                        <li class="nav-item"><a class="nav-link" href="auth-404.html"><i
                                    class="ti-control-record"></i>Error 404</a></li>
                        <li class="nav-item"><a class="nav-link" href="auth-500.html"><i
                                    class="ti-control-record"></i>Error 500</a></li>
                    </ul>
                </li>
        </div>
    </div>
    <!-- end left-sidenav-->

    <div class="page-wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- Navbar -->
            <nav class="navbar-custom">
                <ul class="list-unstyled topbar-nav float-end mb-0">
                    <li class="dropdown hide-phone">
                        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect"
                            data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                            aria-expanded="false">
                            <i data-feather="search" class="topbar-icon"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-end dropdown-lg p-0">
                            <!-- Top Search Bar -->
                            <div class="app-search-topbar">
                                <form action="#" method="get">
                                    <input type="search" name="search" class="from-control top-search mb-0"
                                        placeholder="Type text...">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </li>

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect"
                            data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                            aria-expanded="false">
                            <i data-feather="bell" class="align-self-center topbar-icon"></i>
                            <span class="badge bg-danger rounded-pill noti-icon-badge">2</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-lg pt-0">

                            <h6
                                class="dropdown-item-text font-15 m-0 py-3 border-bottom d-flex justify-content-between align-items-center">
                                Notifications <span class="badge bg-primary rounded-pill">2</span>
                            </h6>
                            <div class="notification-menu" data-simplebar>
                                <!-- item-->
                                <a href="#" class="dropdown-item py-3">
                                    <small class="float-end text-muted ps-2">2 min ago</small>
                                    <div class="media">
                                        <div class="avatar-md bg-soft-primary">
                                            <i data-feather="shopping-cart" class="align-self-center icon-xs"></i>
                                        </div>
                                        <div class="media-body align-self-center ms-2 text-truncate">
                                            <h6 class="my-0 fw-normal text-dark">Your order is placed</h6>
                                            <small class="text-muted mb-0">Dummy text of the printing and
                                                industry.</small>
                                        </div>
                                        <!--end media-body-->
                                    </div>
                                    <!--end media-->
                                </a>
                                <!--end-item-->
                                <!-- item-->
                                <a href="#" class="dropdown-item py-3">
                                    <small class="float-end text-muted ps-2">10 min ago</small>
                                    <div class="media">
                                        <!-- <div class="avatar-md bg-soft-primary">
                                            <img src="assets/images/users/user-4.jpg" alt=""
                                                class="thumb-sm rounded-circle">
                                        </div> -->
                                        <div class="media-body align-self-center ms-2 text-truncate">
                                            <h6 class="my-0 fw-normal text-dark">Meeting with designers</h6>
                                            <small class="text-muted mb-0">It is a long established fact that a
                                                reader.</small>
                                        </div>
                                        <!--end media-body-->
                                    </div>
                                    <!--end media-->
                                </a>
                                <!--end-item-->
                                <!-- item-->
                                <a href="#" class="dropdown-item py-3">
                                    <small class="float-end text-muted ps-2">40 min ago</small>
                                    <div class="media">
                                        <div class="avatar-md bg-soft-primary">
                                            <i data-feather="users" class="align-self-center icon-xs"></i>
                                        </div>
                                        <div class="media-body align-self-center ms-2 text-truncate">
                                            <h6 class="my-0 fw-normal text-dark">UX 3 Task complete.</h6>
                                            <small class="text-muted mb-0">Dummy text of the printing.</small>
                                        </div>
                                        <!--end media-body-->
                                    </div>
                                    <!--end media-->
                                </a>
                                <!--end-item-->
                                <!-- item-->
                                <a href="#" class="dropdown-item py-3">
                                    <small class="float-end text-muted ps-2">1 hr ago</small>
                                    <div class="media">
                                        <div class="avatar-md bg-soft-primary">
                                            <!-- <img src="assets/images/users/user-5.jpg" alt=""
                                                class="thumb-sm rounded-circle"> -->
                                        </div>
                                        <div class="media-body align-self-center ms-2 text-truncate">
                                            <h6 class="my-0 fw-normal text-dark">Your order is placed</h6>
                                            <small class="text-muted mb-0">It is a long established fact that a
                                                reader.</small>
                                        </div>
                                        <!--end media-body-->
                                    </div>
                                    <!--end media-->
                                </a>
                                <!--end-item-->
                                <!-- item-->
                                <a href="#" class="dropdown-item py-3">
                                    <small class="float-end text-muted ps-2">2 hrs ago</small>
                                    <div class="media">
                                        <div class="avatar-md bg-soft-primary">
                                            <i data-feather="check-circle" class="align-self-center icon-xs"></i>
                                        </div>
                                        <div class="media-body align-self-center ms-2 text-truncate">
                                            <h6 class="my-0 fw-normal text-dark">Payment Successfull</h6>
                                            <small class="text-muted mb-0">Dummy text of the printing.</small>
                                        </div>
                                        <!--end media-body-->
                                    </div>
                                    <!--end media-->
                                </a>
                                <!--end-item-->
                            </div>
                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                                View all <i class="fi-arrow-right"></i>
                            </a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown"
                            href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <span class="ms-1 nav-user-name hidden-sm">Nick</span>
                            <!-- <img src="assets/images/users/user-5.jpg" alt="profile-user"
                                class="rounded-circle thumb-xs" /> -->
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="pages-profile.html"><i data-feather="user"
                                    class="align-self-center icon-xs icon-dual me-1"></i> Profile</a>
                            <a class="dropdown-item" href="apps-contact-list.html"><i data-feather="users"
                                    class="align-self-center icon-xs icon-dual me-1"></i> Contacts</a>
                            <div class="dropdown-divider mb-0"></div>
                            <a class="dropdown-item" href="auth-login.html"><i data-feather="power"
                                    class="align-self-center icon-xs icon-dual me-1"></i> Logout</a>
                        </div>
                    </li>
                </ul>
                <!--end topbar-nav-->

                <ul class="list-unstyled topbar-nav mb-0">
                    <li style="display: flex; flex-direction: row;">
                        <button class="nav-link button-menu-mobile">
                            <i data-feather="menu" class="align-self-center topbar-icon"></i>
                        </button>

                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb h-100 align-items-center">
                                {% block breadcrumbs %}
                                {% endblock %}
                            </ol>
                        </nav>
                    </li>
                </ul>
            </nav>
            <!-- end navbar-->
        </div>
        <!-- Top Bar End -->
        <div id="messages" style="position: absolute; top: 0; width: 50%; margin-left: 25%;"
            class="container py-3 px-3">
        </div>
        <div class="page-content">
            {% block page_content %}

            {% endblock %}
        </div>
    </div>

    {% block modals %}
    {% endblock %}

    </div>

</body>

<script src="{% static 'frontend/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/metismenu.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/waves.js' %}"></script>
<script src="{% static 'frontend/assets/js/feather.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/simplebar.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/moment.js' %}"></script>
<script src="{% static 'frontend/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'frontend/assets/js/jquery.core.js' %}"></script>
<!-- App js -->
<script src="{% static 'frontend/assets/js/app.js' %}"></script>
<script src="{% static 'frontend/assets/js/functions.js' %}"></script>

<script>
    var state = {
        databases: [],
        databaseManagementSystems: [],
        tables: [],
        table: null,
        tableRecords: [],
        servers: []
    }

    const API_BASE_URL = 'api/'
</script>

{% block extra_js %} {% endblock %}

</html>