{% extends 'frontend/base-template.html' %} {% load i18n static %} {% block title %}DoDB | {% trans 'Databases' %}{% endblock %} {% block breadcrumbs %} {% if database %}
<li class="breadcrumb-item"><a href="{% url 'frontend:databases' %}">{% trans "Databases" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{database.name}}
    <span class="mx-2">
        <i class="small-icon mx-1" data-bs-target="#database-detail-modal" data-bs-toggle="modal" data-feather="edit"></i> <i data-bs-target="#delete-database-confirmation" data-bs-toggle="modal" data-feather="trash" class="small-icon text-danger mx-1"></i>
    </span>
</li>
{% else %}
<li class="breadcrumb-item active"><a href="#">{% trans "Databases" %}</a></li>
{% endif %} {% endblock %} {% block extra_styles %}
<link href="{% static 'frontend/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />

<style>
    .database-card:hover {
        background-color: rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }
    
    .database-card .select-database {
        border-radius: 500%;
    }
    
    .selected-database {
        background-color: rgba(0, 0, 0, 0.05);
    }
</style>

{% endblock %} {% block message_active %}active{% endblock %} {% block messages %} {% if database and not connection %}
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <img src="..." class="rounded me-2" alt="">
        <strong class="me-auto">DoDB</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" onclick="toggleMessages()"></button>
    </div>

    <div class="toast-body">
        {% blocktranslate with database.name as database_name %} We were unable to connect to the {{ database_name }} database, please ensure that your database server is running and your credentials are correct. {% endblocktranslate %}
    </div>
</div>
{% endif %} {% endblock %} {% block tabs %} {% if database %}
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active" role="presentation">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#general" id="general-tab" aria-current="page">{% trans "Tables" %}</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#synchronizations" id="synchronizations-tab" aria-current="page">{% trans "Synchronizations" %}</button>
    </li>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#extractions" id="rewards-tab">{% trans "Extractions" %}</button>
    </li>
</ul>
{% endif %} {% endblock %} {% block page_content %}
<div class="container-fluid">
    {% if not database %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box row">
                <div class="row col-md-6 justify-content-start">
                    <div class="col-auto align-self-center d-none" id="delete-databases-button">
                        <button class="btn btn-outline-danger btn-sm add-file" data-bs-toggle="modal" data-bs-target="#delete-database-confirmation">
                            </i>{% trans "Delete database" %}
                        </button>
                    </div>
                </div>

                <div class="row col-md-6 justify-content-end">
                    <div class="col-auto align-self-center">
                        <button class="btn btn-outline-primary btn-sm add-file" data-bs-toggle="modal" data-bs-target="#new-database-modal">
                            </i>{% trans "Add database" %}
                        </button>
                    </div>

                    <div class="col-auto align-self-center d-none" id="synchronize-databases-button">
                        <button class="btn btn-outline-orange btn-sm add-file" data-bs-toggle="modal" data-bs-target="#synchronize-databases-modal">
                            </i>{% trans "Synchronize databases" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-2 justify-content-evenly" id="databases">

    </div>
    {% else %}
    <div class="tab-content" id="my-tab-content">
        <div class="tab-pane fade show active my-2" id="general" role="tabpanel" aria-labelledby="general-tab">
            <div class="row {% if not pending_synchronizations %}d-none row-1{% endif %}">
                <div class="col-sm-12">
                    <div class="page-title-box row">
                        <div class="col-md-6 row">
                            {% if pending_synchronizations %}
                            <div class="d-flex flex-column align-items-center">
                                <div class="text-orange py-2">The {{ database.name }} database has {{ pending_synchronizations.count }} synchronizations pending</div>
                                <button class="btn btn-outline-orange" onclick="synchronizeDatabase()">
                                    {% trans "Apply synchronizations" %}
                                </button>
                            </div>
                            {% endif %}
                        </div>

                        <div class="row col-md-6 justify-content-end">
                            <div class="col-auto align-self-center d-none" id="action-buttons-container">
                                <button class="btn btn-outline-orange btn-sm mx-2" id="delete-many" data-bs-target="#extract-from-database" data-bs-toggle="modal">
                                    <i data-feather="upload" style="width: 16; height: 16;"></i> {% trans 'Synchronize' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if not database.is_initialized %}
            <div class="row">
                <span class="text-danger">
                    <i data-feather="alert-triangle"></i> {% trans "This database has not been initialized" %}
                </span>
            </div>
            <div class="row">
                <a href="{% url 'frontend:initialize-database' database.id %}" class="btn btn-outline-danger" data-database-id="{{database.id}}">
                    <i data-feather="refresh-cw"></i> {% trans "Initialize database" %}
                </a>
            </div>
            {% endif %}

            <!-- Create nested accordions for the schemas, tables and columns -->
            <ul class="cd-accordion cd-accordion--animated margin-top-lg margin-bottom-lg">
                {% for schema in database.databaseschema_set.all %} {% if schema.normal_tables %}
                <li class="cd-accordion__item cd-accordion__item--has-children schema">
                    <input type="checkbox" class="cd-accordion__input" name="{{ schema.name.lower }}-{{schema.id}}" id="{{ schema.name.lower }}-{{schema.id}}" checked>

                    <label for="{{ schema.name.lower }}-{{schema.id}}" class="cd-accordion__label cd-accordion__label--icon-folder">
                        <input type="checkbox" class="mx-2 select-all-tables schema-select"
                            name="select-{{ schema.name.lower }}-{{schema.id}}" data-schema-id="{{ schema.id }}">
                        <span>{{ schema.name }}</span></label>

                    <ul class="cd-accordion__sub cd-accordion__sub-11">
                        {% for table in schema.normal_tables %}
                        <li class="cd-accordion__item cd-accordion__item--has-children">
                            <input class="cd-accordion__input" type="checkbox" name="{{ table.name.lower }}-{{table.id}}" id="{{ table.name.lower }}-{{table.id}}">
                            <label class="cd-accordion__label cd-accordion__label--icon-folder" for="{{ table.name.lower }}-{{table.id}}">
                                <input type="checkbox" class="mx-2 select-table" data-table-id="{{ table.id }}"
                                    data-schema-id="{{ schema.id }}" name="select-{{ table.name.lower }}-{{table.id}}">
                                <span>{{ table.name }}</span></label>

                            <ul class="cd-accordion__sub cd-accordion__sub--l2">
                                <li class="cd-accordion__item">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>{% trans "Column name" %}</th>
                                                <th>{% trans "Data type" %}</th>
                                                <th>{% trans "Character max." %}</th>
                                                <th>{% trans "Datetime precision" %}</th>
                                                <th>{% trans "Numeric precision" %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for column in table.column_set.all %}
                                            <tr>
                                                <td>{{ column.name }}</td>
                                                <td>{{ column.data_type }}</td>
                                                <td>{{ column.character_maximum_length }}</td>
                                                <td>{{ column.datetime_precision }}</td>
                                                <td>{{ column.numeric_precision }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %} {% endfor %}
            </ul>
        </div>

        <div class="tab-pane fade show my-2" id="synchronizations" role="tabpanel" aria-labelledby="synchronizations-tab">
            {% if synchronizations %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Time made</th>
                        <th>File</th>
                        <th>File size</th>
                        <th>Is applied</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for synchronization in synchronizations %}
                    <tr>
                        <td>{{ synchronization.extraction.time_made }}</td>
                        <td>{{ synchronization.extraction.file.file.url }}</td>
                        <td>{{ synchronization.extraction.file.size }}</td>
                        <td>{{ synchronization.is_applied }}</td>
                        <td>
                            {% if not synchronization.is_applied %}
                            <button class="btn btn-outline-success">{% trans 'Apply' %}</button> {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <span>{% trans "This database does not have any synchronizations" %}</span> {% endif %}
        </div>

        <div class="tab-pane fade show my-2" id="extractions" role="tabpanel" aria-labelledby="extractions-tab">
            {% if extractions %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Time made</th>
                        <th>File</th>
                        <th>File size</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for extraction in extractions %}
                    <tr>
                        <th>{{ extraction.extraction.time_made }}</th>
                        <th><a href="{{ extraction.extraction.file.file.url }}">
                            {{ extraction.extraction.file.file.name }}
                        </a></th>
                        <th>{{ extraction.extraction.file.size }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <span>{% trans "This database does not have any extractions" %}</span> {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %} {% block modals %} {% if database %}
<div class="modal" id="extract-from-database">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "Extract from " %} {{ database.name }}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" id="new-extraction-start-time-display" class="form-control" readonly placeholder="{% trans 'Extraction start time' %}">
                    <input type="datetime" id="new-extraction-start-time" class="d-none">
                    <div class="input-group-append">
                        <span class="input-group-text" id="empty-new-extraction-start-time">
                            <i data-feather="delete"></i>
                        </span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="target-databases" class="form-label">{% trans 'Target databases' %}</label>
                    <select multiple id="target-databases" class="form-select">
                        {% for database in databases %}
                        <option value="{{ database.id }}">{{ database.name.lower }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" onclick="extractFromDatabase()">{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="delete-database-confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    {% blocktrans with database as str %}Are you sure you want to delete the {{ str }} database{% endblocktrans %}
                </div>
            </div>

            <div class="modal-footer">
                <button data-bs-dismiss="modal" class="btn btn-primary">{% trans "No" %}</button>
                <a id="confirm-deletion" href="{% url 'frontend:delete-database' database.id %}" class="btn btn-danger">{% trans "Yes" %}</a>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="database-detail-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{{ database }}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="database-name">{% trans "Database name" %}</label>
                    <input type="text" name="database-name" id="database-name" required class="form-control" value="{{ database.name }}">
                </div>

                <div class="mb-3">
                    <label for="database-dbms-version">{% trans "DBMS version" %}</label>
                    <select id="database-dbms-version" class="form-select">
                        {% for version in dbms_versions %}
                        <option value="{{ version.id }}" 
                            data-version-number="{{version.version_number}}"
                            data-dbms-name="{{version.}}"
                            {% if version == database.version %}
                            selected
                            {% endif %}
                        >{{ version }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="database-instance-name">{% trans "Instance name" %}</label>
                    <input id="database-instance-name" value="{{ database.instance_name }}" class="form-control" />
                </div>

                <div class="row mb-3">
                    <div class="col-md-8">
                        <label for="database-host">{% trans "Host" %}</label>
                        <input type="text" class="form-control" id="database-host" value="{{ database.get_host }}">
                    </div>
                    <div class="col-md-4">
                        <label for="database-port">{% trans "Port" %}</label>
                        <input type="number" id="database-port" class="form-control" value="{{ database.get_port }}">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="database-username">{% trans "Username" %}</label>
                        <input type="text" class="form-control" id="database-username" value="{{ database.get_username }}">
                    </div>
                    <div class="col-md-6">
                        <label for="database-password">{% trans "Password" %}</label>
                        <input type="password" id="database-password" class="form-control" value="{{ database.get_password }}">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" id="submit-database-form">{% trans "Modify" %}</button>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="modal" id="delete-database-confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    
                </div>
            </div>

            <div class="modal-footer">
                <button data-bs-dismiss="modal" class="btn btn-blue">{% trans "No" %}</button>
                <button id="confirm-deletion" class="btn btn-danger">{% trans "Yes" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="new-database-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "New database" %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="new-database-modal-form">
                    <div class="mb-3">
                        <label for="new-database-name">{% trans "Database name" %}</label>
                        <input type="text" name="new-database-name" id="new-database-name" required class="form-control">
                    </div>
    
                    <div class="mb-3">
                        <label for="new-database-dbms-version">{% trans "DBMS version" %}</label>
                        <select id="new-database-dbms-version" class="form-select">
                            {% for version in dbms_versions %}
                            <option value="{{ version.id }}" 
                                data-version-number="{{version.version_number}}"
                                data-dbms-name="{{version.}}"
                            >{{ version }}</option>
                            {% endfor %}
                        </select>
                    </div>
    
                    <div class="mb-3">
                        <label for="new-database-instance-name">{% trans "Instance name" %}</label>
                        <input id="new-database-instance-name" class="form-control" />
                    </div>
    
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <label for="new-database-host">{% trans "Host" %}</label>
                            <input type="text" class="form-control" id="new-database-host" value="localhost">
                        </div>
                        <div class="col-md-4">
                            <label for="new-database-port">{% trans "Port" %}</label>
                            <input type="number" id="new-database-port" class="form-control">
                        </div>
                    </div>
    
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="new-database-username">{% trans "Username" %}</label>
                            <input type="text" class="form-control" id="new-database-username">
                        </div>
                        <div class="col-md-6">
                            <label for="new-database-password">{% trans "Password" %}</label>
                            <input type="password" id="new-database-password" class="form-control">
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" id="submit-new-database-form">{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="synchronize-databases-modal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "Synchronize databases" %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="group-name">{% trans "Group name" %}</label>
                    <input type="text" class="form-control" id="group-name">
                </div>
                <div class="mb-3">
                    <label for="synchronization-type">{% trans "Synchronization type" %}</label>
                    <select id="synchronization-type" class="form-select">
                        <option value="full">{% trans "Full synchronization" %}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="synchronization-direction">{% trans "Synchronization direction" %}</label>
                    <select id="synchronization-direction" class="form-select">
                        <option value="bi">{% trans "Bi-directional" %}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <table class="table table-striped" id="synchronize-databases-modal-databases-table">
                        <thead>
                            <th></th>
                            <th>{% trans "DBMS version" %}</th>
                            <th>{% trans "Database name" %}</th>
                            <th>{% trans "Host" %}</th>
                            <th>{% trans "Port" %}</th>
                        </thead>

                        <tbody>

                        </tbody>
                    </table>
                </div>

                <div id="group-tables-list" class="mb-3">

                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-orange" id="create-group-from-databases">{% trans "Synchronize" %}</button>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endblock %} {% block extra_js %}
<script src="{% static 'frontend/assets/js/moment.js' %}"></script>
<script src="{% static 'frontend/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'frontend/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'frontend/accordion/js/util.js' %}"></script>
<script src="{% static 'frontend/accordion/js/main.js' %}"></script>

{% if not database %}
<script>
    var SELECTED_DATABASES = []

    function displaySynchronizeDatabasesButton() {
        if (SELECTED_DATABASES.length < 2) {
            $("#synchronize-databases-button").addClass('d-none')
        } else {
            $("#synchronize-databases-button").removeClass('d-none')
        }

        let selectedDatabasesNames = SELECTED_DATABASES.map( (item) => {return item.name} ).join(', ')

        if (SELECTED_DATABASES.length >= 1) {
            $("#delete-database-confirmation .modal-title").text(
                `Are you sure you want to delete the ${selectedDatabasesNames} ${ SELECTED_DATABASES.length > 1 ? "databases" : "database" }`
            )

            $("#delete-databases-button").removeClass('d-none')
            let text = SELECTED_DATABASES.length > 1 ? "Delete databases" : "Delete database"

            $("#delete-databases-button button").text(text)
        } else {
            $("#delete-databases-button").addClass('d-none')
        }

        populateSynchronizeDatabaseseModalTable()
    }

    $("#confirm-deletion").click(() => {
        deleteSelectedDatabases()
    })

    function populateSynchronizeDatabaseseModalTable() {
        $("#synchronize-databases-modal tbody").html('')

        if (SELECTED_DATABASES.length >= 2) {
            SELECTED_DATABASES.map((database) => {
                let row = createElement('tr')

                let keys = ["name", "clear_host", "clear_port"]

                let dbmsVersionIndex = 1 // the position of the cell that contains the dbms version

                for (let i = 0; i <= 4; i++) {
                    let cell = createElement('td')
                    $(row).append(cell)

                    if (i == dbmsVersionIndex) {
                        // cell with dbms version
                        cell.textContent = `${database.version_object.dbms_object.name} ${database.version_object.version_number}`
                    } else {
                        cell.textContent = database[keys[i - (dbmsVersionIndex + 1)]]
                    }
                }

                $("#synchronize-databases-modal-databases-table tbody").append(row)
            })

            let tablesInCommon = getTablesInCommon(SELECTED_DATABASES)
            console.log("Tables in common gotten from the selected databases")
            console.log(tablesInCommon)

            // create the accordion for the tables
            let tablesAccordion = createElement('ul', 'cd-accordion cd-accordion--animated margin-top-lg margin-bottom-lg'.split(' '))
            $("#group-tables-list").html('')
            $("#group-tables-list").append(tablesAccordion)
                
            let tablesAccordionItem = createElement('li', 'cd-accordion__item cd-accordion__item--has-children schema'.split(' '))
            $(tablesAccordion).append(tablesAccordionItem)

            let tablesAccordionItemInput = createElement('input', 'cd-accordion__input'.split(' '), {checked: true, id: 'new-group-tables', type: 'checkbox'})
            $(tablesAccordionItem).append(tablesAccordionItemInput)

            let tablesAccordionItemLabel = createElementsRecursively({
                tag: "label",
                classes: 'cd-accordion__label cd-accordion__label--icon-folder'.split(' '),
                attributes: {
                    for: `new-group-tables`
                },
                elements: [
                    {
                        tag: "span",
                        classes: [],
                        attributes: {
                            textContent: "Tables"
                        }
                    }
                ]
            })      
            $(tablesAccordionItem).append(tablesAccordionItemLabel)

            let subAccordion = createElementFromObject({
                tag: "ul",
                classes: 'cd-accordion__sub cd-accordion__sub-11'.split(' '),
                attributes: null
            })
            $(tablesAccordionItem).append(subAccordion)

            for (let table of Object.keys(tablesInCommon)) {
                let tableObject = tablesInCommon[table];

                let tableAccordionItem = createElementsRecursively({
                    tag: "li",
                    classes: 'cd-accordion__item cd-accordion__item--has-children'.split(' '),
                    attributes: null,
                    elements: [
                        {
                            tag: "input",
                            classes: 'cd-accordion__input'.split(' '),
                            attributes: {id: `${table}`, type: 'checkbox'}
                        },
                        {
                            tag: "label",
                            classes: 'cd-accordion__label cd-accordion__label--icon-folder'.split(' '),
                            attributes: { for: `${table}` },
                            elements: [
                                {
                                    tag: "input",
                                    classes: 'mx-2 select-table'.split(' '),
                                    attributes: {'data-group-table': table, type: 'checkbox'}
                                },
                                {
                                    tag: "span",
                                    classes: [],
                                    attributes: {textContent: `${table}`}
                                }
                            ]
                        }
                    ]
                })
                $(subAccordion).append(tableAccordionItem)

                let tableAccordionSubItem = createElementsRecursively({
                    tag: "ul",
                    classes: 'cd-accordion__sub cd-accordion__sub--l2'.split(' '),
                    attributes: null
                })
                $(tableAccordionItem).append(tableAccordionSubItem)

                let tableAccordionSubItemItem = createElementFromObject({
                    tag: "li",
                    classes: 'cd-accordion__item'.split(' '),
                    attributes: []
                })
                $(tableAccordionSubItem).append(tableAccordionSubItemItem)

                let tableAccordionSubItemItemColumnsTable = createElementsRecursively({
                    tag: 'table',
                    classes: 'table table-striped'.split(' '),
                    attributes: null,
                    elements: [
                        {
                            tag: 'thead',
                            classes: [],
                            attributes: null,
                            elements: [
                                {
                                    tag: "tr",
                                    classes: [],
                                    attributes: null,
                                    elements: [
                                        {
                                            tag: "th",
                                            attributes: {textContent: "Column name"},
                                            classes: []
                                        },
                                        {
                                            tag: "th",
                                            attributes: {textContent: "Data type"},
                                            classes: []
                                        },
                                        {
                                            tag: "th",
                                            attributes: {textContent: "Character max."},
                                            classes: []
                                        },
                                        {
                                            tag: "th",
                                            attributes: {textContent: "Datetime precision"},
                                            classes: []
                                        },
                                        {
                                            tag: "th",
                                            attributes: {textContent: "Numeric precision"},
                                            classes: []
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                })
                $(tableAccordionSubItemItem).append(tableAccordionSubItemItemColumnsTable)
                
                let tableAccordionSubItemItemColumnsTableBody = createElementFromObject({
                    tag: 'tbody', attributes: null, classes: []
                })
                $(tableAccordionSubItemItemColumnsTable).append(tableAccordionSubItemItemColumnsTableBody)

                for (let column of tableObject.columns) {
                    let row = createElementsRecursively({
                        tag: "tr",
                        attributes: [],
                        classes: [],
                        elements: []
                    })
                    $(tableAccordionSubItemItemColumnsTableBody).append(row)

                    let keys = ["name", "data_type", 'character_maximum_length', 'datetime_precision', 'numeric_precision']

                    for (let key of keys) {
                        let cell = createElementFromObject({
                            tag: "td", attributes: { textContent: column[key] }, classes: []
                        })

                        $(row).append(cell)
                    }
                }
            }
        }
    }

    $(document).ready(function() {
        console.log("Doc is ready...")
            // get the databases from the API

        $.ajax({
            type: "GET",
            url: `http://${location.host}${API_URL}/ferdolt/dbms/`,
            success: function(data) {
                state.databaseManagementSystems = data
                init()
            },
            error: function(data) {
                // get the stuff from local storage instead
            }
        });

        $.ajax({
            type: "GET",
            url: `http://${location.host}${API_URL}/ferdolt/databases/?format=json`,
            contentType: 'application/json',
            success: function(data) {
                console.log("Gotten the data from the API")
                console.log(data)

                state.databases = data
                displayDatabases()
            }
        })
    })

    function init() {
        displayDatabases()
    }

    function displayDatabases() {
        console.log("In displayDatabases(): ")
        console.log(state.databases)

        $("#databases").html('')

        for (let database of state.databases) {
            displayDatabase(database)
        }
    }

    function addIdToSelectedDatabases(id) {
        for (let database of state.databases) {
            if (database.id == id) {
                SELECTED_DATABASES.push(database)
            }
        }
    }

    function removeIdFromSelectedDatabases(id) {
        SELECTED_DATABASES = SELECTED_DATABASES.filter(database => database.id != id)
    }

    function displayDatabase(databaseObject, containerSelector = "#databases") {
        console.log('The database object is ')
        console.log(databaseObject)

        console.log("Creating card...")

        let card = createElementsRecursively({
            tag: "div",
            classes: ["card", "database-card", "w-30"],
            attributes: {
                id: `database-${databaseObject['id']}`
            },
            elements: [{
                tag: "div",
                classes: ["card-body"],
                attributes: {},
                elements: [{
                    tag: "h5",
                    classes: ["card-title"],
                    attributes: {}
                }, {
                    tag: "h6",
                    classes: ["card-subtitle", "mb-2", "text-muted"]
                }, {
                    tag: "p",
                    classes: ["card-text", "database-host"]
                }, {
                    tag: "p",
                    classes: ["card-text", "database-port"]
                }, {
                    tag: "a",
                    classes: ["btn", "btn-primary", "database-detail-link"],
                    attributes: {
                        href: `${location.pathname}${databaseObject['id']}`
                    }
                }, ]
            }]
        })

        console.log("Created card...")
        $(card).find(".card-title").text(databaseObject["name"])

        $(card).find('.card-subtitle').text(`${databaseObject['version_object']['dbms_object']['name']} ${databaseObject['version_object']['version_number']}`)
        $('.card')

        $(card).find('.database-host').text(`Host: ${databaseObject['clear_host']}`)
        $(card).find('.database-port').text(`Port: ${databaseObject['port']}`)

        $(card).find('.database-detail-link').text("Details")
        $(containerSelector).append(card)

        let selectDatabaseContainer = createElement('div', ["px-2", "py-1"], {
            style: "position: absolute; top: 0; left: 0"
        })
        $(card).append(selectDatabaseContainer)

        let selectDatabaseInput = createElement('input', ['form-check-input', 'select-database'], {
            type: "checkbox",
            "data-database-id": databaseObject.id
        })
        $(selectDatabaseContainer).append(selectDatabaseInput)

        $(selectDatabaseInput).change(function() {
            console.log("select database changed")

            let checked = $(this).prop('checked')

            if (checked) {
                // add database
                addIdToSelectedDatabases(databaseObject.id)
            } else {
                // remove database
                removeIdFromSelectedDatabases(databaseObject.id)
            }
        })

        $(card).click(function() {
            let selectDatabase = $(this).find('.select-database').first()
            console.log(selectDatabase)
            let checked = selectDatabase.prop('checked')

            selectDatabase.prop('checked', !checked)

            if (!checked) {
                // add database
                addIdToSelectedDatabases(databaseObject.id)
                $(this).addClass('selected-database')

                displaySynchronizeDatabasesButton()
            } else {
                // remove database
                removeIdFromSelectedDatabases(databaseObject.id)
                $(this).removeClass('selected-database')

                displaySynchronizeDatabasesButton()
            }
        })

        console.log("Appended card...")
        console.log('Returning card...')

        return card
    }

    $("#dbms-input").change(function() {
        let value = $(this).val()
        console.log("DBMS input changed!")

        // get the option with this value
        let option = $(this).children(`option[value=${value}]`).first()

        console.log(option)

        if (option !== null) {
            let text = option.text()

            console.log("The option's text content: " + text)

            // checking if an SQL server option has been chosen
            let regex = /sql\s*server/gmi

            // add a field for instance name if an SQL Server option ws chosen
            if (regex.test(text)) {
                $("#instance-name-input").parent().removeClass("d-none")
            } else {
                $("#instance-name-input").parent().addClass("d-none")
            }
        }
    })

    $("#submit-new-database-form").click(
        function() {
            submitNewDatabaseForm()
        }
    )

    function submitNewDatabaseForm() {
        console.log("Submitting new database")
        formData = {
            dbms_version: $("#new-database-dbms-version").val(),
            instance_name: $("#new-database-instance-name").val(),
            name: $("#new-database-name").val(),
            host: $("#new-database-host").val(),
            port: $("#new-database-port").val(),
            username: $("#new-database-username").val(),
            password: $("#new-database-password").val()
        }

        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: `http://${location.host}${API_URL}/ferdolt/databases/`,
            data: JSON.stringify(formData),
            headers: {
                "X-CSRFTOKEN": getCsrfTokenCookie()
            },
            success: function(data) {
                let flag = false;

                for (let server of state.databases) {
                    if (server.id == data.id) {
                        flag = true;
                    }
                }

                if (!flag) {
                    // add the database to the list of databases
                    state.databases.push(data)
                    displayDatabase(data)
                }
            },
            error: function(data) {
                console.log("error message: ")
                console.log(data.responseText)

                if (data.status == 400 || data.status == 500) {
                    console.log(JSON.stringify(formData));
                    console.log(formData);
                }
            }
        })
    }

    function deleteSelectedDatabases() {
        SELECTED_DATABASES.forEach((selectedDatabase) => {
            deleteDatabase(selectedDatabase.id)
        })
    }

    function deleteDatabase(databaseID) {
        $.ajax({
            type: "DELETE",
            url: `http://${location.host}${API_URL}/ferdolt/databases/${databaseID}/`,
            headers: {
                "X-CSRFTOKEN": getCsrfTokenCookie()
            },
            success: function(data) {
                state.databases = state.databases.filter((item) => {
                    if (item.id == databaseID) {
                        displayMessage(`Successfully deleted the ${item.name} database on ${item.clear_host}`, ["alert-success", "alert-dismissible"])
                        return false;
                    }
                    return item.id != databaseID;
                })

                SELECTED_DATABASES = SELECTED_DATABASES.filter((item) => {
                    return item.id != databaseID;
                })

                displayDatabases()
                displaySynchronizeDatabasesButton()
            },
            error: function(data) {
                displayRequestErrors(data)
            }
        })
    }

    $("#create-group-from-databases").click(
        () => {
            createGroupFromDatabases()
        }
    )

    function createGroupFromDatabases() {
        let sources = []
        let participants = []

        let synchronizationType = $('#synchronization-type').val()
        let groupName = $("#group-name").val()

        for (let database of SELECTED_DATABASES) {
            sources.push(database.id)
            participants.push(database.id)
        }

        if (sources.length > 0 && participants.length >= sources.length && synchronizationType) {
            let formData = {
                type: synchronizationType,
                sources: sources,
                participants: participants,
                group_name: groupName
            }

            // submit the new group 
            $.ajax({
                type: "POST",
                url: `http://${location.host}${API_URL}/ferdolt/groups/synchronization_group/`,
                contentType: 'application/json',
                headers: {
                    'X-CSRFTOKEN': getCsrfTokenCookie()
                },
                data: JSON.stringify(formData),
                success: function(data) {
                    displayMessage("Group created successfully", ['alert-success', 'alert-dismissble'])
                },
                error: function(data) {
                    console.log("There was an error creating a group from databases. Printing the request body")
                    console.log(JSON.stringify(formData))

                    displayRequestErrors(data)
                }
            })
        }
    }

    function getTablesInCommon(databaseObjectsList) {
        let tables = {}

        for (let database of databaseObjectsList) {
            console.log(`Getting the stuff of the database: ${database.name}`)
            for ( let schema of database['schemas'] ) {
                console.log("The schema in the selected database is ")
                console.log(schema)

                let schemaObject = schema

                let schemaName = schemaObject['name'] 

                for (let table of schemaObject['tables'] ) {
                    let tableObject = table

                    let tableName = tableObject['name']
                    let groupTableName = `${schemaName}__${tableName}`

                    if ( !(groupTableName in tables) && !/_deletion/.test(groupTableName) ) {
                        // add the table to the object
                        tables[groupTableName] = {
                            'name': tableName,
                            'columns': table['columns']
                        }
                    }
                }
            }
        }

        return tables;
    }
</script>
{% endif %} {% if database %}
<script>
    var NUMBER_OF_SELECTED_TABLES = 0;
    const DATABASE_ID = {{ database.id }}

    $("#empty-new-extraction-start-time").click(() => {
        console.log("Clicked the bspc button")
        $('#new-extraction-start-time').val('')
        $('#new-extraction-start-time-display').val('')
    })

    $("#submit-database-form").click( () => {
        console.log("Clicked the modify database button")
        modifyDatabase()
    } )

    document.querySelector("#submit-database-form").addEventListener('click', () => {
        console.log("Clicked the modify database button, vanilla JS event listener.")
    })

    function modifyDatabase() {
        let formData = {
            dbms_version: $("#database-dbms-version").val(),
            instance_name: $("#database-instance-name").val(),
            name: $("#database-name").val(),
            host: $("#database-host").val(),
            port: $("#database-port").val(),
            username: $("#database-username").val(),
            password: $("#database-password").val()
        }

        $.ajax({
            type: "PUT",
            url: `http://${location.host}${API_URL}/ferdolt/databases/{{ database.id }}/`,
            data: JSON.stringify(formData),
            headers: {
                "X-CSRFTOKEN": getCsrfTokenCookie()
            },
            contentType: "application/json",
            success: function(data) {
                displayMessage("Database modified successfully, refresh the page to see the changes", ['alert-success', 'alert-dismissible'])
            },
            error: function(data) {
                displayRequestErrors(data)
            }
        })
    }

    function extractFromDatabase() {
        let schemas = [];
        let schemaList = {};
        let targetDatabases = $("#target-databases").val()
        let startTime = $("#new-extraction-start-time").val()

        startTime = startTime ? startTime : null;

        console.log("Databases chosen: ")
        console.log(targetDatabases)

        // get all the selected tables
        $('.select-table:checked').each((index, element) => {
            schemaID = $(element).attr('data-schema-id')
            tableID = $(element).attr('data-table-id')

            if (schemaID && tableID) {
                if (!(schemaID in schemaList)) {
                    schemas.push({
                        schema: schemaID,
                        tables: [{
                            table: tableID
                        }]
                    })

                    // add an object to the schemaList with the schema's index in the schemas array
                    schemaList[schemaID] = schemas.length - 1
                } else {
                    let index = schemaList[schemaID]

                    let schemaObject = schemas[index]
                    schemaObject.tables.push({
                        table: tableID
                    })
                }
            }
        })

        let formData = {
            start_time: startTime,
            databases: [{
                database: DATABASE_ID,
                schemas: schemas
            }],
            target_databases: targetDatabases
        }
        console.log(formData)

        $.ajax({
            url: `http://${location.host}${API_URL}/ferdolt/flux/extractions/`,
            type: 'POST',
            headers: {
                'X-CSRFTOKEN': getCookie("csrftoken")
            },
            data: JSON.stringify(formData),
            contentType: "application/json",
            success: function(data) {
                displayMessage("Extraction completed successfully", ["alert", "alert-success", "alert-dismissible"])
                $("#extract-from-database").modal('hide');
            },
            error: function(data) {
                console.log(data.status)

                switch (data.status) {
                    case 404:
                        displayMessage("Error in the url. Please contact the developer")
                        break;
                    case 400:
                        console.log(data.responseJSON)
                        break;
                }
            }
        })
    }

    function synchronizeDatabase() {
        $.ajax({
            type: "POST",
            url: `http://${location.host}${API_URL}/ferdolt/databases/${DATABASE_ID}/synchronize/`,
            headers: {
                "X-CSRFTOKEN": getCookie("csrftoken")
            },
            success: function(data) {
                displayMessage(data['message'], ["alert", "alert-dismissible", "alert-success"])

                setTimeout(() => {
                    location.reload()
                }, 5000)
            },
            error: function(data) {
                if ([400, 404, 403, 401].includes(data.status)) {
                    switch (data.status) {
                        case 400:
                            displayMessage("Invalid request data " + data.responseJSON)
                            break;
                        case 403:
                            displayMessage("You are not authorized to access this resource")
                            break;
                        case 404:
                            displayMessage("The resource you are trying to access does not exist")
                    }
                } else if (data.status == 500) {
                    displayMessage("A server error occured")
                }
            }
        })
    }

    $(function() {
        $("label[for='new-extraction-start-time'], #new-extraction-start-time-display").daterangepicker({
            singleDatePicker: true,
            timePicker: true,
            showDropdowns: true,
            minYear: 2022,
            maxYear: 2030,
            startDate: moment().startOf('hour'),
            timePicker24Hour: true,
            showSecond: true,
            showMilliSecond: true,
            locale: {
                format: 'YYYY-MM-DD HH:mm:ss'
            }
        }, function(start, end, label) {
            let datetime = start.format('YYYY-MM-DD HH:mm:ss')
            console.log(`Datetime has been picked, value picked: ${datetime}`)

            $("#new-extraction-start-time").val(datetime)
        });
    });

    $(".select-all-tables").change(function() {
        schemaId = $(this).attr('data-schema-id')
        const schema = $(this);
        const checked = $(this).is(':checked');

        $(`.select-table[data-schema-id=${schemaId}]`).each(function() {
            $(this).prop('checked', checked)

            if (checked) {
                NUMBER_OF_SELECTED_TABLES += 1;
            } else {
                NUMBER_OF_SELECTED_TABLES -= 1;
            }
        })

        if (NUMBER_OF_SELECTED_TABLES > 0) {
            $("#action-buttons-container").removeClass('d-none')
            $('.row-1').removeClass('d-none')
        } else {
            $("#action-buttons-container").addClass('d-none')
            $('.row-1').addClass('d-none')
        }
    })

    $('.select-table').change(function() {
        let schemaId = $(this).attr("data-schema-id");
        let checked = $(this).prop('checked')
        let numberOfTables = 0;
        let numberofSelectedTables = 0;

        NUMBER_OF_SELECTED_TABLES += checked ? 1 : -1;

        $(`.select-table[data-schema-id=${schemaId}]`).each(function() {
            numberOfTables++;

            numberofSelectedTables += $(this).prop('checked') ? 1 : 0;
        })

        $(`.select-all-tables[data-schema-id=${schemaId}]`).prop('checked', numberOfTables === numberofSelectedTables)

        if (NUMBER_OF_SELECTED_TABLES > 0) {
            $("#action-buttons-container").removeClass('d-none')
            $('.row-1').removeClass('d-none')
        } else {
            $("#action-buttons-container").addClass('d-none')
            $('.row-1').addClass('d-none')
        }
    })
</script>
{% endif %} {% endblock %}