{% extends 'frontend/base-template.html' %}
{% load i18n static %}

{% block breadcrumbs %}

{% if database %}
<li class="breadcrumb-item"><a href="{% url 'frontend:databases' %}">{% trans "Databases" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{database.name}}</li>
{% else %}
<li class="breadcrumb-item active"><a href="#">{% trans "Databases" %}</a></li>
{% endif %}

{% endblock %}

{% block extra_styles %}
<link href="{% static 'frontend/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}
<div class="container-fluid">
    {% if not database %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row justify-content-end">
                    <div class="col-auto align-self-center">
                        <button class="btn btn-outline-primary btn-sm add-file" data-bs-toggle="modal"
                            data-bs-target="#new-database-modal">
                            <i class="fas fa-plus me-2"></i>{% trans "Add database" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-2" id="databases">

    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row justify-content-end">
                    <div class="col-auto align-self-center d-none" id="action-buttons-container">
                        <button class="btn btn-outline-orange btn-sm mx-2" id="delete-many"
                            data-bs-target="#extract-from-database" data-bs-toggle="modal">
                            <i data-feather="upload" style="width: 16; height: 16;"></i> {% trans 'Synchronize' %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Create nested accordions for the schemas, tables and columns -->
    <ul class="cd-accordion cd-accordion--animated margin-top-lg margin-bottom-lg">
        {% for schema in database.databaseschema_set.all %}
        <li class="cd-accordion__item cd-accordion__item--has-children">
            <input type="checkbox" class="cd-accordion__input" name="{{ schema.name.lower }}-{{schema.id}}"
                id="{{ schema.name.lower }}-{{schema.id}}" checked>

            <label for="{{ schema.name.lower }}-{{schema.id}}"
                class="cd-accordion__label cd-accordion__label--icon-folder">
                <input type="checkbox" class="mx-2 select-all-tables schema-select"
                    name="select-{{ schema.name.lower }}-{{schema.id}}" data-schema-id="{{ schema.id }}">
                <span>{{ schema.name }}</span></label>

            <ul class="cd-accordion__sub cd-accordion__sub-11">
                {% for table in schema.table_set.all %}
                <li class="cd-accordion__item cd-accordion__item--has-children">
                    <input class="cd-accordion__input" type="checkbox" name="{{ table.name.lower }}-{{table.id}}"
                        id="{{ table.name.lower }}-{{table.id}}">
                    <label class="cd-accordion__label cd-accordion__label--icon-folder"
                        for="{{ table.name.lower }}-{{table.id}}">
                        <input type="checkbox" class="mx-2 select-table" data-table-id="{{ table.id }}"
                            data-schema-id="{{ schema.id }}" name="select-{{ table.name.lower }}-{{table.id}}">
                        <span>{{ table.name }}</span></label>

                    <ul class="cd-accordion__sub cd-accordion__sub--l2">
                        <li class="cd-accordion__item">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>{% trans "Column name" %}</th>
                                        <th>{% trans "Data type" %}</th>
                                        <th>{% trans "Character max." %}</th>
                                        <th>{% trans "Datetime precision" %}</th>
                                        <th>{% trans "Numeric precision" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for column in table.column_set.all %}
                                    <tr>
                                        <td>{{ column.name }}</td>
                                        <td>{{ column.data_type }}</td>
                                        <td>{{ column.character_maximum_length }}</td>
                                        <td>{{ column.datetime_precision }}</td>
                                        <td>{{ column.numeric_precision }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}

{% block modals %}
<div class="modal" id="new-database-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "New Database" %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="dbms-input" class="form-label">{% trans "Database Management System (DBMS)*" %}</label>
                    <select class="form-select" id="dbms-input">
                    </select>
                </div>

                <div class="mb-3">
                    <label for="dbms-version-input">{% trans "DBMS Version*" %}</label>
                    <input type="text" class="form-control" id="dbms-version-input" value="18.2">
                </div>

                <div class="mb-3">
                    <label for="instance-name-input">{% trans "Instance name" %}</label>
                    <input type="text" id="instance-name-input" class="form-control" value="SQLEXPRESS">
                </div>

                <div class="mb-3">
                    <label for="database-name">{% trans "Database Name*" %}</label>
                    <input type="text" class="form-control" id="database-name" value="BikeStores2">
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="database-host">{% trans "Database host*" %}</label>
                        <input type="text" class="form-control" id="database-host" value="localhost">
                    </div>
                    <div class="col-md-6">
                        <label for="database-port">{% trans "Database port*" %}</label>
                        <input type="number" name="" id="database-port" class="form-control" value="1433">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="database-username">{% trans "Database username*" %}</label>
                        <input type="text" class="form-control" id="database-username" value="sa">
                    </div>
                    <div class="col-md-6">
                        <label for="database-password">{% trans "Database password" %}</label>
                        <input type="password" name="" id="database-password" class="form-control"
                            value="groupesia@2022">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" id="submit-new-database-form">{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>

{% if database %}
<div class="modal" id="extract-from-database">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "Extract from " %} {{ database.name }}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" id="new-extraction-start-time-display" 
                    class="form-control" readonly 
                    placeholder="{% trans 'Extraction start time' %}">
                    <input type="datetime" id="new-extraction-start-time" class="d-none">
                    <div class="input-group-append">
                        <span class="input-group-text" id="empty-new-extraction-start-time">
                            <i data-feather="delete"></i>
                        </span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="target-databases" class="form-label">{% trans 'Target databases' %}</label>
                    <select multiple id="target-databases" class="form-select">
                        {% for database in databases %}
                        <option value="{{ database.id }}">{{ database.name.lower }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" onclick="extractFromDatabase()">{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'frontend/assets/js/moment.js' %}"></script>
<script src="{% static 'frontend/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'frontend/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'frontend/accordion/js/util.js' %}"></script>
<script src="{% static 'frontend/accordion/js/main.js' %}"></script>

{% if not database %}
<script>
    $(document).ready(function () {
        console.log("Doc is ready...")
        // get the databases from the API

        $.ajax({
            type: "GET",
            url: `http://${location.host}${API_URL}/ferdolt/dbms/`,
            success: function (data) {
                state.databaseManagementSystems = data
                init()
            },
            error: function (data) {
                // get the stuff from local storage instead
            }
        });

        $.ajax({
            type: "GET",
            url: `http://${location.host}${API_URL}/ferdolt/databases/?format=json`,
            contentType: 'application/json',
            success: function (data) {
                state.databases = data
                displayDatabases()
            }
        })
    })

    function init() {
        for (let dbms of state.databaseManagementSystems) {
            let option = createElement("option", [], { value: dbms['id'] })
            option.textContent = dbms["name"]

            $("#dbms-input").append(option)
        }

        displayDatabases()
    }

    function displayDatabases() {
        console.log("In displayDatabases(): ")
        console.log(state.databases)

        for (let database of state.databases) {
            displayDatabase(database)
        }
    }

    function displayDatabase(databaseObject, containerSelector = "#databases") {
        console.log("Creating card...")

        let card = createElementsRecursively(
            {
                tag: "div",
                classes: ["card", "mx-1"],
                attributes: { style: "width: 18rem;", id: `database-${databaseObject['id']}` },
                elements: [
                    {
                        tag: "div",
                        classes: ["card-body"],
                        attributes: {},
                        elements: [
                            {
                                tag: "h5",
                                classes: ["card-title"],
                                attributes: {}
                            },
                            {
                                tag: "h6",
                                classes: ["card-subtitle", "mb-2", "text-muted"]
                            },
                            {
                                tag: "p",
                                classes: ["card-text", "database-host"]
                            },
                            {
                                tag: "p",
                                classes: ["card-text", "database-port"]
                            },
                            {
                                tag: "a",
                                classes: ["btn", "btn-primary", "database-detail-link"],
                                attributes: { href: `${location.pathname}${databaseObject['id']}` }
                            },
                        ]
                    }
                ]
            }
        )

        console.log("Created card...")
        $(card).find(".card-title").text(databaseObject["name"])

        $(card).find('.card-subtitle').text(`${databaseObject['version']['dbms_object']['name']} ${databaseObject['version']['version_number']}`)
        $('.card')

        $(card).find('.database-host').text(`Host: ${databaseObject['host']}`)
        $(card).find('.database-port').text(`Port: ${databaseObject['port']}`)

        $(card).find('.database-detail-link').text("Details")
        $(containerSelector).append(card)

        console.log("Appended card...")
    }

    $("#dbms-input").change(function () {
        let value = $(this).val()
        console.log("DBMS input changed!")

        // get the option with this value
        let option = $(this).children(`option[value=${value}]`).first()

        console.log(option)

        if (option !== null) {
            let text = option.text()

            console.log("The option's text content: " + text)

            // checking if an SQL server option has been chosen
            let regex = /sql\s*server/gmi

            // add a field for instance name if an SQL Server option ws chosen
            if (regex.test(text)) {
                $("#instance-name-input").parent().removeClass("d-none")
            } else {
                $("#instance-name-input").parent().addClass("d-none")
            }
        }
    })

    $("#submit-new-database-form").click(
        function () {
            submitNewDatabaseForm()
        }
    )

    function submitNewDatabaseForm() {
        console.log("Submitting new database")
        formData = {
            version: {
                version_number: $("#dbms-version-input").val(),
                dbms: $('#dbms-input').val(),
                dbms_object: {
                    name: $(`#dbms-input option[value=${$("#dbms-input").val()}]`).text(),
                }
            },
            instance_name: $("#instance-name-input").val(),
            name: $("#database-name").val(),
            host: $("#database-host").val(),
            port: $("#database-port").val(),
            username: $("#database-username").val(),
            password: $("#database-password").val()
        }

        console.log("Data to submit")
        console.log(JSON.stringify(formData))

        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: `http://${location.host}${API_URL}/ferdolt/databases/`,
            data: JSON.stringify(formData),
            headers: {
                "X-CSRFTOKEN": getCookie("csrf_token")
            },
            success: function (data) {
                let flag = false;

                for (let server of state.databases) {
                    if (server.id == data.id)
                        flag = true;
                }

                if (!flag) {

                }
            },
            error: function (data) {
                console.log("error message: ")
                console.log(data.responseText)

                if (data.status == 400 || data.status == 500) {
                    console.log(JSON.stringify(formData));
                    console.log(formData);
                }
            }
        })

    }
</script>
{% endif %}

{% if database %}
<script>
    var NUMBER_OF_SELECTED_TABLES = 0;
    const DATABASE_ID = {{ database.id }}

    $("#empty-new-extraction-start-time").click( () => {
        console.log("Clicked the bspc button")
        $('#new-extraction-start-time').val('')
        $('#new-extraction-start-time-display').val('')
    } )

    function extractFromDatabase() {
        let schemas = [];
        let schemaList = {};
        let targetDatabases = $("#target-databases").val()
        let startTime = $("#new-extraction-start-time").val()

        startTime = startTime ? startTime : null;

        console.log("Databases chosen: ")
        console.log(targetDatabases)

        // get all the selected tables
        $('.select-table:checked').each((index, element) => {
            schemaID = $(element).attr('data-schema-id')
            tableID = $(element).attr('data-table-id')

            if (schemaID && tableID) {
                if (!(schemaID in schemaList)) {
                    schemas.push({
                        schema: schemaID,
                        tables: [
                            {
                                table: tableID
                            }
                        ]
                    })

                    // add an object to the schemaList with the schema's index in the schemas array
                    schemaList[schemaID] = schemas.length - 1
                } else {
                    let index = schemaList[schemaID]

                    let schemaObject = schemas[index]
                    schemaObject.tables.push({
                        table: tableID
                    })
                }
            }
        })

        let formData = {
            start_time: startTime,
            databases: [{
                database: DATABASE_ID,
                schemas: schemas
            }],
            target_databases: targetDatabases
        }
        console.log(formData)

        $.ajax({
            url: `http://${location.host}${API_URL}/ferdolt/flux/extractions/`,
            type: 'POST',
            headers: {
                'X-CSRFTOKEN': getCookie("csrftoken")
            },
            data: JSON.stringify(formData),
            contentType: "application/json",
            success: function(data) {
                displayMessage("Extraction completed successfully", ["alert", "alert-success", "alert-dismissible"])
                $("#extract-from-database").modal('hide');
            },
            error: function(data) {
                console.log(data.status)

                switch(data.status) {
                    case 404:
                        displayMessage("Error in the url. Please contact the developer")
                        break;
                    case 400:
                        console.log(data.responseJSON)
                        break;
                }
            }
        })
    }

    $(function () {
        $("label[for='new-extraction-start-time'], #new-extraction-start-time-display").daterangepicker({
            singleDatePicker: true,
            timePicker: true,
            showDropdowns: true,
            minYear: 2022,
            maxYear: 2030,
            startDate: moment().startOf('hour'),
            timePicker24Hour: true,
            showSecond: true,
            showMilliSecond: true,
            locale: {
                format: 'YYYY-MM-DD HH:mm:ss'
            }
        }, function (start, end, label) {
            let datetime = start.format('YYYY-MM-DD HH:mm:ss')
            console.log(`Datetime has been picked, value picked: ${datetime}`)

            $("#new-extraction-start-time").val(datetime)
        });
    });

    $(".select-all-tables").change(function () {
        schemaId = $(this).attr('data-schema-id')
        const schema = $(this);
        const checked = $(this).is(':checked');

        $(`.select-table[data-schema-id=${schemaId}]`).each(function () {
            $(this).prop('checked', checked)

            if (checked) {
                NUMBER_OF_SELECTED_TABLES += 1;
            } else {
                NUMBER_OF_SELECTED_TABLES -= 1;
            }
        })

        if (NUMBER_OF_SELECTED_TABLES > 0) {
            $("#action-buttons-container").removeClass('d-none')
        } else {
            $("#action-buttons-container").addClass('d-none')
        }
    })

    $('.select-table').change(function () {
        let schemaId = $(this).attr("data-schema-id");
        let checked = $(this).prop('checked')
        let numberOfTables = 0;
        let numberofSelectedTables = 0;

        NUMBER_OF_SELECTED_TABLES += checked ? 1 : -1;

        $(`.select-table[data-schema-id=${schemaId}]`).each(function () {
            numberOfTables++;

            numberofSelectedTables += $(this).prop('checked') ? 1 : 0;
        })

        $(`.select-all-tables[data-schema-id=${schemaId}]`).prop('checked', numberOfTables === numberofSelectedTables)

        if (NUMBER_OF_SELECTED_TABLES > 0) {
            $("#action-buttons-container").removeClass('d-none')
        } else {
            $("#action-buttons-container").addClass('d-none')
        }
    })
</script>
{% endif %}
{% endblock %}