{% extends 'frontend/base-template.html' %} {% load i18n static %} {% block title %}DoDb | {% trans 'Groups' %}{% endblock %} {% block breadcrumbs %} {% if group %}
<li class="breadcrumb-item"><a href="{% url 'frontend:groups' %}">{% trans "Groups" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">
    {{ group.name }}
    <span class="mx-2">
        <i class="small-icon mx-1" data-bs-target="#group-detail-modal" data-bs-toggle="modal" data-feather="edit"></i> <i data-bs-target="#delete-group-confirmation" data-bs-toggle="modal" data-feather="trash" class="small-icon text-danger mx-1"></i>
    </span>
</li>
{% else %}
<li class="breadcrumb-item active">
    {% trans "Synchronization Groups" %}
</li>
{% endif %} {% endblock %} {% block tabs %} {% if group %}
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active" role="presentation">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#structure" id="structure-tab" aria-current="page">
            {% trans "Structure" %}
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link =" data-bs-toggle="tab" data-bs-target="#databases" id="databases-tab">
            {% trans "Databases" %}
        </button>
    </li>
</ul>
{% endif %} {% endblock %} {% block page_content %} {% if not group %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="row justify-content-end">
                <div class="col-auto align-self-center">
                    <button class="btn btn-outline-primary btn-sm add-file" data-bs-toggle="modal" data-bs-target="#new-group-modal">
                                    <i class="fas fa-plus me-2"></i>{% trans "Add group" %}
                                </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row py-2" id="groups">
    {% for group in groups %}
    <div class="card mx-1 w-30 selectable" style="width: 18rem;" id="group-{{ group.id }}">
        <div class="card-body">
            <div class="px-2 py-1" style="position: absolute; top: 0; left: 0;">
                <input type="checkbox" class="form-check-input select-database" data-group-id="{{ group.id }}">
            </div>
            <h5 class="card-title">{{ group.name }}</h5>
            <button class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#group-detail-modal" onclick="displayGroup({{ group.id }})">{% trans "Details" %}</button>

            <a href="{% url 'frontend:groups' group.id %}" class="btn btn-primary my-3">{% trans "Open" %}</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="tab-content" id="groups-page-tab-content">
    <div class="tab-pane fade show active my-2" id="structure" role="tabpanel" aria-labelledby="structure-tab">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title-box row">
                    <div class="row justify-content-start">
                        <div class=" col-auto align-self-center " id="left-actions-buttons-container ">
                            <button class="btn btn-outline-danger btn-sm mx-2" id="delete-group-tables">
                                            <i data-feather="download " style="width: 16; height: 16; "></i> {% trans "Delete tables" %}
                                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="page-title-box row">
                    <div class="row justify-content-end">
                        <div class=" col-auto align-self-center " id="actions-buttons-container ">
                            <!-- <button class="btn btn-outline-success btn-sm mx-2 " id="extract ">
                                            <i data-feather="upload " style="width: 16; height: 16; "></i> {% trans "Extract " %}
                                        </button> -->
                            <button class="btn btn-outline-orange btn-sm mx-2 ">
                                            <i data-feather="download " style="width: 16; height: 16; "></i> {% trans "Synchronize " %}
                                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Create nested accordions for the tables and columns in this group -->
            <ul class="cd-accordion cd-accordion--animated margin-top-lg margin-bottom-lg">
                {% for table in group.tables.all %}
                <li class="cd-accordion__item cd-accordion__item--has-children">
                    <input class="cd-accordion__input" type="checkbox" name="{{ table.name.lower }}-{{table.id}}" id="{{ table.name.lower }}-{{table.id}}">
                    <label class="cd-accordion__label cd-accordion__label--icon-folder" for="{{ table.name.lower }}-{{table.id}}">
                        <input type="checkbox" class="mx-2 select-group-table" data-table-id="{{ table.id }}"
                            data-schema-id="{{ schema.id }}" name="select-{{ table.name.lower }}-{{table.id}}">
                        <span>{{ table.name }}</span></label>

                    <ul class="cd-accordion__sub cd-accordion__sub--l2">
                        <li class="cd-accordion__item">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>{% trans "Column name" %}</th>
                                        <th>{% trans "Data type" %}</th>
                                        <th>{% trans "Character max." %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for column in table.columns.all %}
                                    <tr>
                                        <td>{{ column.name }}</td>
                                        <td>{{ column.data_type }}</td>
                                        <td>{{ column.character_maximum_length }}</td>
                                        <!-- <td>{{ column.is_nullable }}</td> -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="tab-pane fade show my-2" id="databases" role="tabpanel" aria-labelledby="databases-tab">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box row">
                    <div class="row justify-content-end">
                        <div class=" col-auto align-self-center" id="actions-buttons-container">
                            <button class="btn btn-outline-success btn-sm mx-2" id="extract" data-bs-toggle="modal" data-bs-target="#add-database-to-group-modal">
                                            <i data-feather="upload" style="width: 16; height: 16; "></i> {% trans "Add database" %}
                                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% if group_databases %}
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans "Database Name " %}</th>
                        <th>{% trans "Database host " %}</th>
                        <th>{% trans "Can extract " %}</th>
                        <th>{% trans "Can synchronize " %}</th>
                        <th>{% trans "Extraction frequency" %}</th>
                        <th>{% trans "Synchronization frequency" %}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for group_database in group_databases %}
                    <tr>
                        <td></td>
                        <td>{{ group_database.database.name }}</td>
                        <td>{{ group_database.database.get_host }}</td>
                        <td>{{ group_database.can_write }}</td>
                        <td>{{ group_database.can_read }}</td>
                        <td>
                            {% if group_database.can_write %} {{ group_database.extraction_frequency }} {% else %} --- {% endif %}
                        </td>
                        <td>
                            {% if group_database.can_read %} {{ group_database.synchronization_frequency }} {% else %} --- {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endif %} {% endblock %} {% block modals %}
<div class="modal " id="new-group-modal" tabindex="-1 ">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "New Group" %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="new-group-name-input">{% trans "Name" %}</label>
                    <input type="text" id="new-group-name-input" class="form-control">
                </div>

                <div class="mb-3">
                    <div class="accordion" id="new-group-accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="new-group-table-heading">
                                <button class="accordion-button" data-bs-target="#new-group-table-accordion-body" aria-expanded="true" aria-controls="new-group-table-accordion-body">
                                    Tables
                                </button>
                            </h2>

                            <div class="accordion-collapse collapse show" id="new-group-table-accordion-body" aria-labelledby="new-group-table-heading">
                                <div class="accordion-body">
                                    <div class="accordion py-2" id="new-group-tables-accordion">

                                    </div>

                                    <div class="row justify-content-end">
                                        <button style="width: 80px;" class="btn btn-outline-secondary" data-bs-target="#new-grouptable-modal" data-bs-toggle="modal">{% trans "Add table" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" id="submit-new-database-form" onclick="submitNewGroup()">{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>

{% if group %}
<div class="modal" id="add-database-to-group-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "Add database to group" %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="">{% trans "Select database" %}</label>
                    <select id="add-database-select-database" class="form-select">
                        <option value="-5">{% trans "---" %}</option>

                        {% for database in databases %}
                            {% if database not in group.databases %}
                            <option value="{{ database.id }}">{{ database.name }}</option>
                            {% endif %}
                        {% endfor %}
                        <!-- <option value="-1">{% trans "New database" %}</option> -->
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" id="submit-add-database-to-group-form">{% trans "Done" %}</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="link-group-tables-to-database-tables-modal-trigger" 
    data-bs-toggle="modal" data-bs-target="#link-group-tables-to-database-tables-modal"
>

<div class="modal" id="link-group-tables-to-database-tables-modal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "Link group tables to database" %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <ul class="cd-accordion cd-accordion--animated margin-top-lg margin-bottom-lg">
                    {% for table in group.tables.all %}
                    <li class="cd-accordion__item cd-accordion__item--has-children">
                        <input class="cd-accordion__input" type="checkbox" name="link-{{ table.name.lower }}-{{table.id}}" id="link-{{ table.name.lower }}-{{table.id}}">
                        <label class="cd-accordion__label cd-accordion__label--icon-folder" for="link-{{ table.name.lower }}-{{table.id}}">
                            <input type="checkbox" class="mx-2 select-table" data-table-id="{{ table.id }}"
                                data-schema-id="{{ schema.id }}" name="select-link-{{ table.name.lower }}-{{table.id}}">
                            <span>{{ table.name }}</span></label>
    
                        <ul class="cd-accordion__sub cd-accordion__sub--l2">
                            <li>
                                <div class="mb-3">
                                    <label for="database-table-to-link-to" class="form-label">{% trans "Link to " %}</label>
                                    <select 
                                        name="{{ table.name.lower }}-{{ table.id }}-target-table" 
                                        class="form-select database-tables-to-link" 
                                        data-group-table="{{ table.id }}"
                                        data-group-table-name="{{ table.name }}"
                                    >
                                        <option value="-1">{% trans "---" %}</option>
                                    </select>
                                </div>
                            </li>
                            <li class="cd-accordion__item">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>{% trans "Column name" %}</th>
                                            <th>{% trans "Data type" %}</th>
                                            <th>{% trans "Character max." %}</th>
                                            <th>{% trans "Link to" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for column in table.columns.all %}
                                        <tr>
                                            <td>{{ column.name }}</td>
                                            <td>{{ column.data_type }}</td>
                                            <td>{{ column.character_maximum_length }}</td>
                                            <td>
                                                <select 
                                                    id="{{ column.name.lower }}-{{ column.id }}-target" 
                                                    class="form-select database-columns-to-link" 
                                                    data-group-column="{{ column.id }}"
                                                    data-group-column-name="{{ column.name }}"
                                                    data-group-table="{{ table.id }}"
                                                >
                                                    <option value="-1">{% trans "---" %}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" id="link-database-to-group">{% trans "Done" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="new-database-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "New database" %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#add-database-to-group-modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="new-database-name">{% trans "Database name" %}</label>
                    <input type="text" name="new-database-name" id="new-database-name" required class="form-control" value="BikeStores">
                </div>

                <div class="mb-3">
                    <label for="new-database-dbms-version">{% trans "DBMS version" %}</label>
                    <select id="new-database-dbms-version" class="form-select">
                        {% for version in dbms_versions %}
                        <option value="{{ version.id }}" 
                            data-version-number="{{version.version_number}}"
                            data-dbms-name="{{version.}}"
                        >{{ version }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="new-database-instance-name">{% trans "Instance name" %}</label>
                    <input id="new-database-instance-name" value="SQLEXPRESS" class="form-control" />
                </div>

                <div class="row mb-3">
                    <div class="col-md-8">
                        <label for="new-database-host">{% trans "Host" %}</label>
                        <input type="text" class="form-control" id="new-database-host" value="localhost">
                    </div>
                    <div class="col-md-4">
                        <label for="new-database-port">{% trans "Port" %}</label>
                        <input type="number" id="new-database-port" class="form-control" value="1433">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="new-database-username">{% trans "Username" %}</label>
                        <input type="text" class="form-control" id="new-database-username" value="sa">
                    </div>
                    <div class="col-md-6">
                        <label for="new-database-password">{% trans "Password" %}</label>
                        <input type="password" id="new-database-password" class="form-control" value="groupesia@2022">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" id="submit-new-database-form">{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="modal " id="new-grouptable-modal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "New Table" %}</div>
                <button type="button" class="btn-close" data-bs-target="#new-group-modal" data-bs-toggle="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="new-grouptable-name-input">{% trans "Table name" %}</label>
                    <input type="text" id="new-grouptable-name-input" class="form-control" value="Table">
                </div>

                <div class="mb-3">
                    <label class="form-label">{% trans 'Columns' %}</label>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Data type" %}</th>
                                <th>{% trans "Nullable?" %}</th>
                                <th>{% trans "Primary key?" %}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr id="default-row">
                                <td></td>
                                <td>
                                    <input type="text" value="Column" class="form-control" id="default-row_name_input">
                                </td>
                                <td>
                                    <select class="form-control " id="default-row_data_type_input">
                                        <option value="">Numeric</option>
                                        <option value="">Character</option>
                                        <option value="">Date</option>
                                        <option value="">Datetime</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id="default-row_nullable_input">
                                        <option value=" ">{% trans "Yes" %}</option>
                                        <option value=" ">{% trans "No" %}</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id="default-row_primary_key_input">
                                        <option value=" ">{% trans "Yes" %}</option>
                                        <option value=" ">{% trans "No" %}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row justify-content-end">
                        <button style="width: 120px;" class="btn btn-outline-secondary" onclick="addColumnsToNewTable()">{% trans "Add column" %}</button>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#new-group-modal" data-bs-toggle="modal" onclick="addTableToDraft()">{% trans "Done" %}</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" class="d-none" id="open-group-detail-modal" 
    data-bs-toggle="modal" data-bs-target="#new-database-modal"
>

<div class="modal " id="group-detail-modal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "Group detail" %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="group-name-input" class="form-label">{% trans 'Name' %}</label>
                    <input type="text" id="group-name-input" class="form-control">
                </div>

                <div class="mb-3">
                    <div class="accordion" id="group-accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="group-table-heading">
                                <button class="accordion-button" data-bs-target="#group-table-accordion-body" aria-expanded="true" aria-controls="group-table-accordion-body">
                                    Tables
                                </button>
                            </h2>

                            <div class="accordion-collapse collapse show" id="group-table-accordion-body" aria-labelledby="group-table-heading">
                                <div class="accordion-body">
                                    <div class="accordion py-2" id="group-tables-accordion">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block extra_js %}
<script>
    var DRAFT = {
        name: '',
        databases: [],
        tables: []
    }

    var SELECTED_GROUPS = []

    $(document).ready(() => {
        getGroups()
    })

    function getGroups() {
        $.ajax({
            type: 'GET',
            url: `http://${location.host}${API_URL}/ferdolt/groups/`,
            success: function(data) {
                for (let group of data) {
                    state.groups[group.id] = group
                }
            },
            error: function(data) {
                switch (data.status) {
                    case 500:
                        displayMessage("Error connecting to the server, couldn 't load groups.")
                        break;
                    default:
                        displayMessage("Error getting the groups")
                        break;
                }
            }
        })
    }

    function displayActionButtons() {

    }

    $(".accordion-button").click(function() {
        let targetSelector = $(this).attr("data-bs-target")

        if (targetSelector) {
            $(targetSelector).toggleClass('show ')
        }
    })

    $("#new-group-name-input").change(function() {
        let value = $(this).val()

        DRAFT.name = value
    })

    function showDatabaseModal(selectedValues) {
        if (selectedValues.includes('-1')) {
            // open the new database modal
            $("#open-group-detail-modal").click()
        }
    }

    $("#add-database-select-database").change(function() {
        let value = $(this).val()

        showDatabaseModal(value)
    })

    $("#add-database-select-database").click( function() {
        let value = $(this).val()

        showDatabaseModal(value)
    } )

    function getDatabaseObjectFromNewDatabaseModal() {
        let formData = {
            dbms_version: $("#new-database-dbms-version").val(),
            instance_name: $("#new-database-instance-name").val(),
            name: $("#new-database-name").val(),
            host: $("#new-database-host").val(),
            port: $("#new-database-port").val(),
            username: $("#new-database-username").val(),
            password: $("#new-database-password").val()
        }

        return formData
    }
    
    $("#submit-new-database-form").click( function() {
        let databaseObject = getDatabaseObjectFromNewDatabaseModal();

        addDatabaseToGroup(null, databaseObject)
    } )

    function addColumnsToNewTable(count = 1) {

        for (let i = 0; i < count; i++) {
            let rowId = generateRandomId()
            let row = createElement('tr ', [], {
                id: rowId
            })

            let deleteCell = createElement("td", [])
            let deleteIcon = createElement("i", ['bg-error', 'text-danger'], {
                'data-feather': 'trash'
            })
            $(deleteCell).append(deleteIcon)
            $(row).append(deleteCell)

            deleteCell.onclick = function() {
                $(this).parent().remove()
            }

            // name input
            let nameCell = createElement('td', [])
            let nameInput = createElement('input', ['form-control'], {
                id: `${rowId}_name_input`
            })
            $(nameCell).append(nameInput)
            $(row).append(nameCell)

            // data type input
            let dataTypeCell = createElement('td', [])
            let dataTypeSelect = createElement('select', ['form-control'], {
                id: `${rowId}_data_type_input`
            })
            let dataTypes = {
                'number ': "Numeric",
                "character": "Character",
                "date": "Date",
                "datetime": "Datetime"
            }

            for (let dataType of Object.keys(dataTypes)) {
                let option = createElement('option', [], {
                    value: dataType
                })
                option.textContent = dataTypes[dataType];

                $(dataTypeSelect).append(option)
            }
            $(dataTypeCell).append(dataTypeSelect)
            $(row).append(dataTypeCell)

            let nullableCell = createElement('td', [])
            let nullableSelect = createElement('select', ['form-control'], {
                id: `${rowId}_nullable_input`
            })

            let nullableOptions = {
                'true ': "Yes",
                'false ': "No"
            }

            for (let nullableOption of Object.keys(nullableOptions)) {
                let option = createElement('option', [], {
                    value: nullableOption
                })
                option.textContent = nullableOptions[nullableOption]

                $(nullableSelect).append(option)
            }

            $(nullableCell).append(nullableSelect)
            $(row).append(nullableCell)

            $(nullableCell).append(nullableSelect)
            $(row).append(nullableCell)

            let primaryKeyCell = createElement('td', [])
            let primaryKeySelect = createElement('select', ['form-control'], {
                id: `${rowId}_primary_key_input`
            })

            let primaryKeyOptions = {
                'true ': "Yes",
                'false ': "No"
            }

            for (let primaryKeyOption of Object.keys(primaryKeyOptions)) {
                let option = createElement('option', [], {
                    value: primaryKeyOption
                })
                option.textContent = primaryKeyOptions[primaryKeyOption];

                $(primaryKeySelect).append(option)
            }
            $(primaryKeyCell).append(primaryKeySelect)
            $(row).append(primaryKeyCell)

            $('#new-grouptable-modal .modal-body table tbody').append(row)
        }

        feather.replace()
    }

    function addTableToDraft() {
        let tableName = $("#new-grouptable-name-input").val()
        let columns = []

        $('#new-grouptable-modal .modal-body table tbody tr').each((index, row) => {
            let rowId = $(row).attr('id')

            let name = $(`#${rowId}_name_input`).val()
            let data_type = $(`#${rowId}_data_type_input`).val()
            let nullable = $(`#${rowId}_nullable_input`).val()
            let primary_key = $(`#${rowId}_primary_key_input`).val()

            let columnObject = {
                name: name,
                is_required: nullable === 'true',
                data_type: data_type
            }

            if (primary_key === 'true') {
                columnObject['constraints'] = {
                    'is_primary_key': true
                }
            }

            columns.push(columnObject)
        })

        DRAFT.tables.push({
            name: tableName,
            columns: columns
        })

        displayDraft()
    }

    function displayDraft() {
        displayGroupObject(DRAFT, "#new-group-name-input", "#new-group-tables-accordion")
    }

    function displayGroup(groupID) {
        let group = state.groups[groupID]

        displayGroupObject(group, "#group-name-input", "#group-tables-accordion")
    }

    function displayGroupObject(object, nameInputSelector, tablesAccordionContainer) {

        $(nameInputSelector).val(object.name)

        $(tablesAccordionContainer).html('')

        for (let table of object.tables) {
            let id = generateRandomId()
            let accordionHeaderId = `${id}_header`;
            let accordionBodyId = `${id}_body`;

            let tableAccordionItem = createElement('div', ['accordion-item'])
            $(tablesAccordionContainer).append(tableAccordionItem)

            let tableAccordionHeader = createElement('h2', ['accordion-header'], {
                id: accordionHeaderId
            })
            $(tableAccordionItem).append(tableAccordionHeader)

            let tableAccordionButton = createElement('button', ['accordion-button'], {
                'data-bs-target': `#${accordionBodyId}`,
                'aria-expanded': false,
                'aria-controls': accordionBodyId,
                textContent: table.name
            })
            $(tableAccordionHeader).append(tableAccordionButton)

            let tableAccordionBody = createElement("div", ["acordion-collapse", "collapse", "show"], {
                id: accordionBodyId,
                "aria-labelledby": accordionHeaderId
            })
            $(tableAccordionItem).append(tableAccordionBody)

            let tableAccordion = createElement("div", ["accordion-body"])
            $(tableAccordionBody).append(tableAccordion)

            let tableColumnTable = createElement("table", ["table", "table-striped"])
            $(tableAccordion).append(tableColumnTable)

            let tableColumnTableHead = createElementsRecursively({
                tag: "thead",
                classes: [],
                elements: [{
                    tag: "tr",
                    classes: [],
                    elements: [{
                        tag: "th" ,
                        classes: [],
                        attributes: {
                            textContent: "Name"
                        }
                    }, {
                        tag: "th",
                        classes: [],
                        attributes: {
                            textContent: "Data type"
                        }
                    }, {
                        tag: "th",
                        classes: [],
                        attributes: {
                            textContent: "Nullable?"
                        }
                    }, {
                        tag: "th",
                        classes: [],
                        attributes: {
                            textContent: "Primary key"
                        }
                    }]
                }]
            })

            $(tableColumnTable).append(tableColumnTableHead)

            let tableColumnTableBody = createElement("tbody", [], {});
            $(tableColumnTable).append(tableColumnTableBody);

            for (let column of table.columns) {
                let row = createElementsRecursively({
                    tag: "tr",
                    classes: [],
                    elements: [{
                        tag: "td",
                        classes: [],
                        attributes: {
                            textContent: column.name
                        }
                    }, {
                        tag: "td",
                        classes: [],
                        attributes: {
                            textContent: column.data_type
                        }
                    }, {
                        tag: "td",
                        classes: [],
                        attributes: {
                            textContent: column.is_required ? "No" : "Yes"
                        }
                    }, {
                        tag: "td",
                        classes: [],
                        attributes: {
                            textContent: column.constraints && column.constraints.is_primary_key ? "Yes" : "No"
                        }
                    }]
                })

                $(tableColumnTableBody).append(row)
            }
        }

        $("#group-detail-modal").modal("show")
    }

    function addDatabaseToGroup(databaseID=null, databaseObject=null) {
        if (databaseID === null && databaseObject === null ) {
            alert("You cannot call addDatabaseToGroup with both databaseID and databaseObject null")
        } else {
            $.ajax({
                type: "POST",
                url: `http://${location.host}${API_URL}/ferdolt/groups/{{group.id}}`,
                headers: {
                    "X-CSRFTOKEN": getCookie("csrftoken")
                },
                data: JSON.stringify({
                    database: databaseID,
                    database_object: databaseObject
                }),
                success: function(data) {
                    displayMessage("Successfully added the database to the group. Refreshing the page in 10 seconds")

                    setTimeout(
                        location.reload, 10000
                    )
                }
            })
        }
    }

    function submitNewGroup() {
        $.ajax({
            type: "POST",
            url: `http://${location.host}${API_URL}/ferdolt/groups/`,
            headers: {
                "X-CSRFTOKEN": getCookie("csrftoken")
            },
            data: JSON.stringify(DRAFT),
            contentType: 'application/json ',
            success: function(data) {
                displayMessage("Group has been created successfully", ["alert", "alert-success", "alert-dismissible"])
            },
            error: function(data) {
                displayRequestErrors(data)
                console.log("Error in the request, printing the server's response")
                console.log(data.responseJSON)
                console.log(data.responseText)
            }
        })
    }
</script>

{% if group %}
<script>
    const ADD_DATABASE_SELECT_DATABASE_NON_SELECTED = -5
    var SELECTED_DATABASE = null
    var SELECTED_DATABASE_TABLES = new Set([])

    var SELECTED_GROUP_TABLES = new Set([])

    $("#add-database-select-database").change( function(){
        let value = this.value;

        if (value != ADD_DATABASE_SELECT_DATABASE_NON_SELECTED) {
            let flag = false;

            // check if the database already exists in the state array of databases
            state.databases.map( (item) => {
                if (item.id == value) {
                    flag = true;
                    SELECTED_DATABASE = item
                }
            } )

            if (!flag) {
                // getting the selected database's details from the API
                $.ajax({
                    type: "GET",
                    url: `http://${location.host}${API_URL}/ferdolt/databases/${value}/`,
                    success: function(data) {
                        state.databases.push( data )
                        SELECTED_DATABASE = data
                    },
                    error: function(data) {
                        displayRequestErrors(data)
                    }
                })
            }
        } else {
            SELECTED_DATABASE = null
        }
    } )

    const GROUP_TABLE_SCHEMA_AND_TABLE_REGEX = "(\\w+)__(\\w+)"

    $("#submit-add-database-to-group-form").click( () => {
        if (SELECTED_DATABASE) {
            let databaseTables = getDatabaseTableObjects(SELECTED_DATABASE)
            SELECTED_DATABASE_TABLES = databaseTables

            // populate the different table selects with options for each of this database's tables
            let optionsArray = []

            databaseTables.map( (item) => {
                let option = createElement( 'option', [], { value: item.id } )
                $(option).text( `${item.schema}.${item.name}` )

                optionsArray.push({
                    id: item.id,
                    name: item.name,
                    node: option,
                    schema: item.schema,
                    textContent: `${item.schema}.${item.name}`,
                })
            } )

            $(".database-tables-to-link").each( function() {
                let groupTableName = $(this).attr('data-group-table-name').toLowerCase()

                let regexMatches = groupTableName.match( GROUP_TABLE_SCHEMA_AND_TABLE_REGEX )

                let schemaName = regexMatches[1]
                let tableName = regexMatches[2]

                optionsArray.map( (option) => {
                    let node = option.node.cloneNode()
                    
                    // setting the value of the select to the table in the database with the same 
                    // schema and name as that of the group table
                    if (schemaName == option.schema && tableName == option.name) {
                        $(node).attr('selected', true)
                        $(this).val(option.id)
                    }

                    $(node).text( option.textContent )
                    $(this).append(node)

                    updateGroupTableColumns(this)
                } )
            } )

            $("#link-group-tables-to-database-tables-modal-trigger").click()
        }
    } )

    $(".database-tables-to-link").change( function() {
        updateGroupTableColumns(this)
    } )

    $('.select-group-table').change( function() {
        let checked = $(this).prop('checked')
        let tableId = $(this).attr('data-table-id')
        console.log(`Select group table checkbox has changed. Checked: ${checked}, tableID: ${tableId}`)

        if (checked) {
            SELECTED_GROUP_TABLES.add(tableId)
        } else {
            SELECTED_GROUP_TABLES.delete(tableId)
        }

        if (SELECTED_GROUP_TABLES.size > 0) {

        } else {

        }
    } )

    $("#delete-group-tables").click( function() {
        if (SELECTED_GROUP_TABLES.size > 0) {
            console.log("Deleting group tables")
            deleteGroupTables()
        }
    } )

    function deleteGroupTables() {
        let formData = {
            tables: Array.from(SELECTED_GROUP_TABLES)
        }

        $.ajax({
            type: 'DELETE',
            url: `http://${location.host}${API_URL}/ferdolt/groups/{{ group.id }}/delete_grouptables/`,
            headers: {
                'X-CSRFTOKEN': getCsrfTokenCookie()
            },
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function(data) {
                displayMessage( 
                    'Tables have been deleted successfully. Reload the page to see changes', 
                    ['alert-dismissible', 'alert-success'] 
                )
            },
            error: function(data) {
                displayRequestErrors(data)
                console.log(formData)
                console.log(data.responseJSON)
            }
        })
    }

    function updateGroupTableColumns(groupTableSelectNode) {
        let groupTableId = $(groupTableSelectNode).attr('data-group-table')
        let value = $(groupTableSelectNode).val()
        
        if (value != -1) {
            // get the columns of the selected table
            let columns = getTableColumns(value, SELECTED_DATABASE_TABLES)
            
            if (columns) {
                let columnOptions = createOptionsFromDatabaseColumns( columns )

                // get all the group columns that are found in this group table
                $(`.database-columns-to-link[data-group-table="${groupTableId}"]`).each( function() {
                    let groupColumnName = $(this).attr('data-group-column-name').toLowerCase()

                    columnOptions.map( (item) => {
                        let node = item.node.cloneNode()
                        node.textContent = item.textContent
                        
                        if (item.textContent == groupColumnName) {
                            $(node).attr('selected', true)
                            $(this).val(item.id)
                        }

                        $(this).append( node )
                    } )
                } )
            }
        }
    }

    function getTableColumns(tableId, tableObjects) {
        for (let i=0; i<tableObjects.length; i++) {
            let tableObject = tableObjects[i]

            if (tableObject.id == tableId) {
                let columnObject = {}

                tableObject.columns.map( (item) => {
                    columnObject[ item.name ] = item
                } )

                return columnObject
            }
        }

        return null
    }

    function createOptionsFromDatabaseColumns(columnsObject) {
        let optionsArray = []

        for ( let key of Object.keys(columnsObject) ) {
            let column = columnsObject[key]

            let option = createElement('option', [], { value: column.id })

            optionsArray.push( {
                node: option,
                textContent: column.name,
                id: column.id
            } )
        }

        return optionsArray
    }

    $("#link-database-to-group").click( () => {
        console.log('Linking the selected database to the group')
        linkGroupColumnsToDatabaseColumns()
    } )

    function linkGroupColumnsToDatabaseColumns() {
        let formData = {
            data: []
        }

        $('.database-columns-to-link').each( function() {
            let groupColumnID = $(this).attr('data-group-column')
            let columnID = $(this).val()

            if (columnID != -1) {
                let object = {
                    group_column: groupColumnID,
                    column: columnID
                }

                formData.data.push(object)
            }
        } )

        console.log(`The data to be passed to the API is`)
        console.log(formData)

        $.ajax({
            type: 'PATCH',
            url: `http://${location.host}${API_URL}/ferdolt/groups/{{ group.id }}/link_columns/`,
            headers: {
                "X-CSRFTOKEN": getCsrfTokenCookie()
            },
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function(data) {
                displayMessage( 
                    'Columns have been linked successfully. Please close the modal', 
                    ['alert-dismissible', 'alert-success'] 
                )
            }, 
            error: function(data) {
                displayRequestErrors(data)
            }
        })
    
    }
</script>
{% endif %}
{% endblock %}