{% extends 'frontend/base-template.html' %}
{% load i18n static %}

{% block extra_styles %}
<style>
    .daterangepicker.ltr.show-ranges.opensleft {
        display: none;
    }
    ul.cd-accordion, ul.cd-accordion__sub {
        list-style-type: none;
    }
</style>
{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">{% trans 'Statistics' %}</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                    <!--end col-->
                    <div class="col-auto align-self-center">
                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                            <span class="ay-name" id="Day_Name">Today:</span>&nbsp;
                            <span class="" id="Select_date">Jan 11</span>
                            <i data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-outline-primary">
                            <i data-feather="download" class="align-self-center icon-xs"></i>
                        </a>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>

    <div class="row">
        <div class="col-lg-9">
            <div class="row justify-content-center">
                <!--end col-->
                <div class="col-md-6 col-lg-3">
                    <div class="card report-card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col">
                                    <p class="text-dark mb-0 fw-semibold">{% trans 'Databases' %}</p>
                                    <h3 class="m-0">{{ database_count }}</h3>
                                    <p class="mb-0 text-truncate text-muted"><span class="text-success"><i
                                                class="mdi mdi-trending-up"></i>{{ today_database_count }}</span>
                                        Databases Today</p>
                                </div>
                                <div class="col-auto align-self-center">
                                    <div class="report-main-icon bg-light-alt">
                                        <i data-feather="database" class="align-self-center text-muted icon-sm"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end card-body-->
                    </div>
                    <!--end card-->
                </div>
                <!--end col-->
                <div class="col-md-6 col-lg-3">
                    <div class="card report-card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col">
                                    <p class="text-dark mb-0 fw-semibold">{% trans 'Extractions' %}</p>
                                    <h3 class="m-0">{{ extraction_count }}</h3>
                                    <p class="mb-0 text-truncate text-muted"><span class="text-success"><i
                                                class="mdi mdi-trending-up"></i>{{today_extraction_count}}</span> {%
                                        trans 'Extractions Today' %}
                                    </p>
                                </div>
                                <div class="col-auto align-self-center">
                                    <div class="report-main-icon bg-light-alt">
                                        <i data-feather="upload" class="align-self-center text-muted icon-sm"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end card-body-->
                    </div>
                    <!--end card-->
                </div>
                <!--end col-->
                <div class="col-md-6 col-lg-3">
                    <div class="card report-card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col">
                                    <p class="text-dark mb-0 fw-semibold">{% trans 'Synchronizations' %}</p>
                                    <h3 class="m-0">{{synchronization_count}}</h3>
                                    <p class="mb-0 text-truncate text-muted"><span class="text-success"><i
                                                class="mdi mdi-trending-up"></i>{{today_synchronization_count}}</span>
                                        {% trans 'Synchronizations Today' %}</p>
                                </div>
                                <div class="col-auto align-self-center">
                                    <div class="report-main-icon bg-light-alt">
                                        <i data-feather="download" class="align-self-center text-muted icon-sm"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end card-body-->
                    </div>
                    <!--end card-->
                </div>
                <!--end col-->
                <div class="col-md-6 col-lg-3">
                    <div class="card report-card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col">
                                    <p class="text-dark mb-0 fw-semibold">Data Extracted</p>
                                    <h3 class="m-0">{{ data_extracted.size }} {{ data_extracted.unit }}</h3>
                                    <p class="mb-0 text-truncate text-muted"><span class="text-danger"><i
                                                class="mdi mdi-trending-down"></i>0 kb</span> Extracted Today</p>
                                </div>
                                <div class="col-auto align-self-center">
                                    <div class="report-main-icon bg-light-alt">
                                        <i data-feather="activity" class="align-self-center text-muted icon-sm"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end card-body-->
                    </div>
                    <!--end card-->
                </div>
            </div>
            <!--end row-->
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">{% trans 'Activity overview' %}</h4>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end card-header-->
                <div class="card-body">
                    <div class="row">
                        <div id="ana_dash_1" class="apex-charts w-100">
                            <canvas id="overview" class="w-100" style="height: 240px;"></canvas>
                        </div>
                    </div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
        <div class="col-lg-3">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">{% trans 'Databases' %}</h4>
                        </div>
                        <!--end col-->
                        <div class="col-auto">
                            <div class="dropdown">
                                <a href="{% url 'frontend:databases' %}"
                                    class="btn btn-sm btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    All<i class="las la-angle-down ms-1"></i>
                                </a>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end card-header-->
                <div class="card-body">
                    <div class="table-responsive mt-2">
                        <table class="table border-dashed mb-0">
                            <thead>
                                <tr>
                                    <th>Database</th>
                                    <th class="text-end">{% trans 'Extractions' %}</th>
                                    <th class="text-end">{% trans 'Synchronizations' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for database in databases %}
                                <tr>
                                    <td>{{ database.name }}</td>
                                    <td>{{ database.extractiondatabase_set.count }}</td>
                                    <td>{{ database.synchronizationdatabase_set.count }}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        <!--end /table-->
                    </div>
                    <!--end /div-->
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
    </div>
</div>

<ul class="cd-accordion margin-top-lg margin-bottom-lg">
    <li class="cd-accordion__item cd-accordion__item--has-children">
        <input class="cd-accordion__input" type="checkbox" name="group-1" id="group-1">
        <label class="cd-accordion__label cd-accordion__label--icon-folder" for="group-1"><span>Group 1</span></label>

        <ul class="cd-accordion__sub cd-accordion__sub--l1">
            <li class="cd-accordion__item cd-accordion__item--has-children">
                <input class="cd-accordion__input" type="checkbox" name="sub-group-1" id="sub-group-1">
                <label class="cd-accordion__label cd-accordion__label--icon-folder" for="sub-group-1"><span>Sub Group
                        1</span></label>

                <ul class="cd-accordion__sub cd-accordion__sub--l2">
                    <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img"
                            href="#0"><span>Image</span></a></li>
                    <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img"
                            href="#0"><span>Image</span></a></li>
                    <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img"
                            href="#0"><span>Image</span></a></li>
                </ul>
            </li>

            <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img"
                    href="#0"><span>Image</span></a></li>
            <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img"
                    href="#0"><span>Image</span></a></li>
        </ul>
    </li>

    <li class="cd-accordion__item cd-accordion__item--has-children">
        <a class="cd-accordion__label cd-accordion__label--icon-img" href="#0"><span>Image</span></a>
    </li>
    <li class="cd-accordion__item cd-accordion__item--has-children">
        <a class="cd-accordion__label cd-accordion__label--icon-img" href="#0"><span>Image</span></a>
    </li>
</ul> <!-- cd-accordion -->
{% endblock %}

{% block extra_js %}
<script src="{% static 'frontend/plugins/chartjs/chart.min.js' %}"></script>
<script>
    ch = '{{ chartInfo }}'
    const chartInfo = {
        "databases": ["bikestores", "dvdrental", "bikestores2", "bikestores4", "new_database", "bikestores5"],
        "number_of_extractions": [10, 1, 0, 1, 0, 0],
        "data_extracted": [4.4, 8.76, 0.0, 1.85, 0.0, 0.0],
        "number_of_synchronizations": [1, 0, 0, 4, 11, 12]
    }

    const overviewCtx = document.getElementById("overview").getContext('2d')

    const data = {
        labels: chartInfo['databases'],
        datasets: [
            {
                label: "Nb. extractions",
                data: chartInfo['number_of_extractions'],
                borderColor: '#8bc7cf',
                backgroundColor: '#8bc7cf'
            },
            {
                label: 'Nb. synchronizations',
                data: chartInfo['number_of_synchronizations'],
                borderColor: '#ffe6b1',
                backgroundColor: '#ffe6b1'
            },
            {
                label: 'Data extracted (mb)',
                data: chartInfo['data_extracted'],
                borderColor: '#c3dd7',
                backgroundColor: '#c3cdd7'
            }
        ]
    }

    const config = {
        type: 'bar',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Chart.js Bar Chart'
                }
            }
        },
    };

    const overviewChart = new Chart(overviewCtx, config)

</script>
{% endblock %}