{% extends 'frontend/base-template.html' %}
{% load i18n static %}

{% block breadcrumbs %}

{% if server %}
<li class="breadcrumb-item">
    <a href="{% url 'frontend:servers' %}">{% trans 'Servers' %}</a>
</li>
<li class="breadcrumb-item active">
    {{ server.name }}
</li>
{% else %}
<li class="breadcrumb-item active">
    {% trans 'Servers' %}
</li>
{% endif %}

{% endblock %}

{% block page_content %}
<div class="page-content">
    <div class="container-fluid">
        {% if not server %}
        .<div class="row">
            <div class="col-sm-12">
                <div class="page-title-box row">
                    <div class="row col-md-6 justify-content-start">
                        <div class="col-auto align-self-center d-none requires-select" id="delete-servers-button-container">
                            <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete-server-confirmation-modal">
                                <i data-feather="trash" class="small-icon"></i> {% trans "Delete server" %}
                            </button>
                        </div>
                    </div>

                    <div class="row col-md-6 justify-content-end">
                        <div class="col-auto align-self-center">
                            <button class="btn btn-outline-primary btn-sm add-file" data-bs-toggle="modal"
                                data-bs-target="#new-server-modal">
                                <i data-feather="plus" class="small-icon me-2"></i>{% trans "Add server" %}
                            </button>
                        </div>

                        <div class="col-auto align-self-center d-none requires-select" id="add-server-to-synchronization-group">
                            <button class="btn btn-outline-orange btn-sm add-file" data-bs-toggle="modal" data-bs-target="#">
                                {% trans "Add databases to synchronization group" %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-2" id="servers">
            
        </div>
        {% else %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block modals %}
<div class="modal" id="new-server-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "New Server" %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="server-name-input" class="form-label">
                        {% trans "Server name" %}
                    </label>
                    <input type="text" class="form-control" id="server-name-input">
                </div>

                <div class="mb-3 row">
                    <div class="col-md-8">
                        <label for="server-address-input" class="form-label">{% trans "Hostname" %}</label>
                        <input type="text" class="form-control" id="server-address-input"
                            placeholder="{% trans 'e.g. 192.168.100.25 or www.somesite.com' %}">
                    </div>

                    <div class="col-md-4">
                        <label for="server-port-input" class="form-label">{% trans "Port" %}</label>
                        <input id="server-port-input" type="number" class="form-control"
                            placeholder="{% trans 'e.g. 8000' %}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="server-location-input" class="form-label">{% trans "Location" %}</label>
                    <textarea id="server-location-input" rows="3" class="form-control"></textarea>
                </div>

                <div class="mb-3">
                    <label for="server-username" class="form-label">{% trans "Username" %}</label>
                    <input type="text" class="form-control" id="server-username">
                </div>

                <div class="mb-3">
                    <label for="server-password" class="form-label">{% trans "Password" %}</label>
                    <input type="password" class="form-control" id="server-password">
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" id="submit-new-database-form" onclick="submitNewServer()">{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="server-detail-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "" %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="server-detail-name-input" class="form-label">
                        {% trans "Server name" %}
                    </label>
                    <input type="text" class="form-control" id="server-detail-name-input" value="Local">
                </div>

                <div class="mb-3 row">
                    <div class="col-md-8">
                        <label for="server-detail-address-input" class="form-label">{% trans "Hostname" %}</label>
                        <input type="text" class="form-control" id="server-detail-address-input"
                            placeholder="{% trans 'e.g. 192.168.100.25 or www.somesite.com' %}" value="localhost">
                    </div>

                    <div class="col-md-4">
                        <label for="server-detail-port-input" class="form-label">{% trans "Port" %}</label>
                        <input id="server-detail-port-input" type="number" class="form-control"
                            placeholder="{% trans 'e.g. 8000' %}" value="8000">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="server-detail-location-input" class="form-label">{% trans "Location" %}</label>
                    <textarea id="server-detail-location-input" rows="3" class="form-control">Yaounde, Cameroon</textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" id="submit-update-database-form">{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="delete-server-confirmation-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    
                </div>
            </div>
            <div class="modal-body">
                <p style="text-danger">This action will delete the following databases</p>
                <ul>
                    <li>Labore ea sunt dolore ad labore est in aliquip proident tempor laborum aliqua.</li>
                    <li>Culpa minim veniam exercitation veniam anim dolore elit reprehenderit cillum dolore veniam ipsum ullamco Lorem.</li>
                    <li>Et culpa tempor labore duis laboris pariatur magna aliqua tempor eu proident sint.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button data-bs-dismiss="modal" class="btn btn-blue">{% trans "No" %}</button>
                <button id="confirm-server-deletion" class="btn btn-danger">{% trans "Yes" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    var SELECTED_SERVERS = []

    $(document).ready(function() {
        getServersList()
    })

    $("#submit-update-database-form").click( function() {
        let serverId = $(this).attr('data-server-id') 

        if (serverId) {
            SELECTED_SERVERS.map( (server) => {
                if (server.id == serverId) {
                    let formData = {
                        address: $("#server-detail-address-input").val(),
                        name: $("#server-detail-name-input").val(),
                        port: $("#server-detail-port-input").val(),
                        location: $("#server-detail-location-input").val()
                    }
                    console.log("Updating the server with the form")
                    console.log(formData)

                    updateServer(serverId, formData, `Successfully modified the server with id: ${server.server_id}`)
                }
            } )
        }
    } )

    $("#confirm-server-deletion").click( function() {
        deleteSelectedServers()
    } )

    function setSelectedServers(selectedServers) {
        console.log("Calling setSelectedServers")

        SELECTED_SERVERS = selectedServers
        
        let numberOfSelectedServers = SELECTED_SERVERS.length
        console.log(`The number of selected servers is ${numberOfSelectedServers}`)

        if (numberOfSelectedServers < 1) {
            $('.requires-select').addClass('d-none')

            $("#delete-server-confirmation-modal .modal-title").text('')
            $("#delete-server-confirmation-modal .modal-title").html('')
            $("#delete-server-confirmation-modal .modal-body").html('')
        } else {
            $('.requires-select').removeClass('d-none')
            let deleteServersString = numberOfSelectedServers == 1 ? "Delete server" : `Delete servers (${numberOfSelectedServers})`
            // let addServersToGroupString = numberOfSelectedServers == 1 ? "Add server to a group" : `Add servers to a group (${numberOfSelectedServers})`

            $("#delete-server-confirmation-modal .modal-body").text('Are you sure you want to delete the following databases?')
            let listOfServers = createElement('ul', [], null)
            
            let selectedServersString = SELECTED_SERVERS.map( (server) => { 
                let serverInList = createElement('li', [], {textContent: `${server.name} with id ${server.server_id} on ${server.address}`})    
                $(listOfServers).append(serverInList)

                return server.name 
            } ).join( ', ' )

            $("#add-server-to-synchronization-group button").text(addServersToGroupString)
            $("#delete-servers-button-container button").text(deleteServersString)

            console.log(`In setSelectedServers, the selected servers are: ${selectedServersString}`)

            $("#delete-server-confirmation-modal .modal-title").text(`Are you sure you want to delete: ${selectedServersString}`)
            $("#delete-server-confirmation-modal .modal-body").append( listOfServers )
        }
    }

    function submitNewServer() {
        formData = {
            name: $("#server-name-input").val(),
            address: $("#server-address-input").val(),
            port: $("#server-port-input").val(),
            location: $("#server-location-input").val()
        }

        $.ajax({
            type: 'POST',
            url: `http://${location.host}/${API_BASE_URL}ferdolt/servers/`,
            headers: {
                "X-CSRFTOKEN": getCsrfTokenCookie()
            },
            data: formData,
            success: function (data) {
                console.log("Gotten the servers from the API")
                displayMessage("Server added successfully.", ["alert", "alert-dismissible", "alert-success"])

                state.servers.push(data)
                displayServer(data)
            },
            error: function (data) {
                console.log(formData)
                console.log(data.responseJSON)
            }
        })
    }

    function displayServer(serverObject, containerSelector="#servers") {
        let id = generateRandomId();

        let serverCard = createElementsRecursively({
            tag: "div", 
            classes: "card mx-1 col selectable".split(' '),
            attributes: {id: `${id}`},
            elements: [
                {
                    tag: "div",
                    classes: "card-body".split(' '),
                    attributes: null,
                    elements: [
                        {
                            tag: "h5",
                            classes: "card-title".split(' '),
                            attributes: { textContent: serverObject.name }
                        },
                        {
                            tag: "h5",
                            classes: "card-subtitle".split(' '),
                            attributes: { textContent: `Server ID: ${serverObject.server_id}` }
                        },
                        {
                            tag: "p",
                            classes: "card-text".split(' '),
                            attributes: { textContent: `Location: ${serverObject.location}` }
                        },
                        {
                            tag: "button",
                            classes: "btn btn-primary modify-server".split(' '),
                            attributes: { id: `server-${id}-details`, "data-bs-toggle": "modal", "data-bs-target": "#server-detail-modal", textContent: "Modify" }
                        }
                    ]
                },
                {
                    tag: "div",
                    classes: "position-absolute mx-2 my-2".split(' '),
                    attributes: {style: "top: 0; left: 0"},
                    elements: [
                        {
                            tag: "input",
                            classes: "form-check-input rounded-circle select-card".split(' '),
                            attributes: {type: "checkbox"}
                        }
                    ]
                }
            ]
        })

        $(serverCard).click( function() {
            let selectCardInput = $(this).find('input.select-card').first()
            let checked = selectCardInput.prop('checked')

            selectCardInput.prop( !checked )
            selectCardInput.prop('checked', !checked)

            if (!checked) {
                let currentlySelectedServers = SELECTED_SERVERS

                currentlySelectedServers.push(serverObject)
                setSelectedServers(currentlySelectedServers)
            } else {
                setSelectedServers( SELECTED_SERVERS.filter( (item) => {
                    return item !== serverObject
                } ) )
            }
        } )
        
        $(serverCard).find('.modify-server').click( function() {
            displayServerDetail(0, null, serverObject)
            console.log("Clicked the modify button of the server card")
        } )

        $(containerSelector).append(serverCard)
    }

    function displayServers(serverObjectsArray, containerSelector="#servers") {
        $(containerSelector).html('')

        for (let serverObject of serverObjectsArray) {
            displayServer(serverObject, containerSelector)
        }
    }

    function displayServerDetail(serverId=0, indexInServersList = null, serverObject=null) {
        let server = null

        if (serverObject) {
            server = serverObject
            console.log("In the displayServerDetail function, a server object was passed to this function")
        }
        else if (indexInServersList === null) {
            console.log("In the displayServerDetail function, an index wasn't passed to this function")

            state.servers.map( (_server) => {
                if ( _server.id === serverId ) {
                    server = _server
                }
            } )
        } else {
            console.log("In the displayServerDetail function, an index was passed")
            try {
                server = state.server[indexInServersList]
            } catch (error) {
                console.error(error)
            }
        }

        console.log("In the displayServerDetail function. The server gotten is")
        console.log(server)

        if (server) {
            $("#server-detail-modal .modal-title").text(`Server ${server.server_id} on ${server.address}:${server.port}`)
            $("#server-detail-name-input").val(server.name)
            $("#server-detail-address-input").val(server.address)
            $("#server-detail-port-input").val(server.port)

            $("#submit-update-database-form").attr('data-server-id', server.id)
        }
    }

    function getServersList() {
        $.ajax({
            type: 'GET',
            url: `http://${location.host}/${API_BASE_URL}ferdolt/servers/`,
            headers: {
                "X-CSRFTOKEN": getCsrfTokenCookie()
            },
            success: function (data) {
                console.log("Gotten the servers from the API")

                state.servers = data

                displayServers(state.servers)
            },
            error: function (data) {
                console.log(formData)
                console.log(data.responseJSON)
                displayRequestErrors(data)
            }
        })
    }

    function updateServer(serverId, formData, successMessage='') {
        $.ajax({
            type: "PUT",
            url: `http://${location.host}/${API_BASE_URL}ferdolt/servers/${serverId}/`,
            headers: {
                "X-CSRFTOKEN": getCsrfTokenCookie()
            },
            data: JSON.stringify(formData),
            contentType: "application/json",
            success: function(data) {
                if (!successMessage) {
                    successMessage = `The ${formData.name} server was modified successfully`
                } 

                displayMessage(successMessage, ["alert", "alert-dismissible"])

                let currentStateServers = state.servers
                
                currentStateServers.map( (server, index) => {
                    if (server.id === data.id) {
                        state.servers[index] = data

                        displayServers(state.servers)
                    }
                } )
            }, 
            error: function(data) {
                console.log("Error updating server. Error")
                console.log(data.responseJSON)
                displayRequestErrors(data)
            }
        })
    }

    function deleteSelectedServers() {
        if (SELECTED_SERVERS.length >= 1) {
            let formData = SELECTED_SERVERS.map( (item) => { return item.id } )
            
            console.log("Making request to delete the following servers. The data is: ")
            console.log(formData)

            $.ajax({
                type: "DELETE",
                url: `http://${location.host}/${API_BASE_URL}ferdolt/servers/delete/`,
                data: JSON.stringify({
                    servers: formData
                }),
                headers: {
                    'X-CSRFTOKEN': getCsrfTokenCookie()
                },
                contentType: "application/json",
                success: function(data) {
                    displayMessage(`Successfully deleted ${SELECTED_SERVERS.length} databases`, ['alert', 'alert-success'])

                    state.servers = state.servers.filter( (server) => {
                        return !formData.includes( server.id )
                    } )
                    setSelectedServers([])

                    displayServers(state.servers)
                },
                error: function(data) {
                    displayRequestErrors( data )
                    console.log("Error deleting databases, error: ")
                    console.log(data.responseText)
                }
            })
        }
    }
</script>
{% endblock %}