{% extends 'frontend/base-template.html' %}
{% load i18n static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'frontend/assets/css/dataTables.bootstrap5.min.css' %}">
<script src="{% static 'frontend/assets/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/dataTables.bootstrap5.min.js' %}"></script>
<style>
    .edit-record,
    .delete-record {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
{% if table %}
<li class="breadcrumb-item">
    <a href="{% url 'frontend:tables' %}">{% trans "Tables" %}</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{ table.schema.database.name }}.{{ table.schema.name }}.{{ table.name }}
</li>
{% else %}
<li class="breadcrumb-item active">
    {% trans "Tables" %}
</li>
{% endif %}
{% endblock %}

{% block page_content %}
<div class="page-content">
    {% if not table %}
    <div class="container">
        <table class="table table-striped" id="tables">
            <thead>
                <tr>
                    <th>{% trans "DBMS" %}</th>
                    <th>{% trans "Database" %}</th>
                    <th>{% trans "Schema" %}</th>
                    <th>{% trans "Table" %}</th>
                    <th>{% trans "Nb columns" %}</th>
                    <th>{% trans "Action" %}</th>
                </tr>
            </thead>

            <tbody>
                {% for table in tables %}
                <tr>
                    <td>{{ table.schema.database.dbms_version }}</td>
                    <td>{{ table.schema.database.name }}</td>
                    <td>{{ table.schema.name }}</td>
                    <td>{{ table.name }}</td>
                    <td>{{ table.column_set.count }}</td>
                    <td>
                        <!-- <button class="btn btn-danger">{% trans "Delete" %}</button> -->
                        <a class="btn btn-primary" href="{% url 'frontend:tables' table.id %}">{% trans "Details" %}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col-md-6 justify-content-end">
                            <div class="col-auto align-self center d-none" id="action-buttons-container">
                                <button class="btn btn-outline-danger btn-sm mx-2" id="delete-many">
                                    <i data-feather="trash-2" style="width: 16; height: 16;"></i>
                                </button>
                                <button class="btn btn-outline-success btn-sm mx-2" id="edit-many"
                                    data-bs-toggle="modal" data-bs-target="#update-records-modal">
                                    <i data-feather="edit" style="width: 16; height: 16;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="row col-md-6 justify-content-end">
                            <div class="col-auto align-self-center">
                                <button class="btn btn-outline-primary btn-sm add-file" data-bs-toggle="modal"
                                    data-bs-target="#new-records-modal">
                                    <i data-feather="plus-square" style="width: 16; height: 16;"></i>{% trans "Add
                                    record(s)" %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped" id="records">
            <thead>
                <tr id="row-1">
                    <th>
                        <input type="checkbox" class="form-check-input">
                    </th>
                    <th>

                    </th>
                    {% for column in table.column_set.all %}
                    <th>
                        {{ column.name }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in data %}
                <tr>
                    {% for column in row.keys %}
                    <td>
                        {{ row.column }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block modals %}
{% if table %}
<div class="modal" id="new-records-modal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "Add record(s)" %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% for column in table.column_set.all %}
                            <th>{{ column.name }} {% if not column.is_nullable %}*{% endif %}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            {% for column in table.column_set.all %}
                            <td>
                                <input type="text" id="{{ column.name }}-input" name="{{ column.name }}"
                                    class="form-control" />
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>

                <div class="row justify-content-end my-3">
                    <div class="col-auto align-self-center">
                        <button class="btn btn-outline-secondary btn-sm add-file"
                            onclick="addRowsToNewRecordsModalTable(1)">
                            <i class="fas fa-plus me-2"></i>{% trans "Add row" %}
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-primary" onclick="submitNewRows()">{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="update-records-modal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "Update record(s)" %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            {% for column in table.column_set.all %}
                            <th>{{ column.name }} {% if not column.is_nullable %}*{% endif %}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-primary" onclick="submitRowUpdates()">{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'frontend/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'frontend/plugins/datatables/dataTables.bootstrap5.min.js' %}"></script>
<script>
    $("#tables").DataTable();
</script>
{% if table %}
<script>
    const TABLE_ID = {{ table.id }}

    const DATABASE_NAME = "{{ table.schema.database.name }}"
    const SCHEMA_NAME = "{{ table.schema.name }}"
    const TABLE_NAME = "{{ table.name }}"

    var numberOfSelectedRows = 0
</script>

<script>
    const NON_NULLABLE_FIELDS = {};
    var SELECTED_RECORDS = [];

    $("#edit-many").click(() => {
        displayRowsOnUpdateRecordsModalTable(SELECTED_RECORDS);
    })

    $("#delete-many").click(() => {
        if (SELECTED_RECORDS) {
            $.ajax({
                type: "DELETE",
                url: `http://${location.host}${API_URL}/ferdolt/tables/delete_data/`,
                data: JSON.stringify({
                    database: DATABASE_NAME,
                    schema: SCHEMA_NAME,
                    table: TABLE_NAME,
                    data: SELECTED_RECORDS
                }),
                contentType: 'application/json',
                success: function (data) {
                    displayMessage("Record deleted successfully", ["alert", "alert-success", "alert-dismissible"])
                    SELECTED_RECORDS = [];
                    numberOfSelectedRows = 0;
                    getRecords()
                },
                error: function (data) {
                    if (data.status == 500) {
                        displayMessage("A server error occured. Could not delete record")
                    }
                    else {
                        console.log(data.responseJSON)
                    }
                }
            })
        }
    })

    const setNonNullableFields = async () => {
        console.log("Calling async anonymous function to get the non nullable columns")
        for (let column of state.table.columns) {
            if (!column.is_nullable) {
                NON_NULLABLE_FIELDS[`${column.id}`] = column
            }
        }
    }

    $(document).ready(function () {
        // $('#tables').DataTable();

        $.ajax({
            type: "GET",
            url: `http://${location.host}${API_URL}/ferdolt/tables/${TABLE_ID}/`,
            success: function (data) {
                console.log("Gotten response from tables API")
                state.table = data
                setNonNullableFields();
                init()
                getRecords()
                $("#records").DataTable();
            },
            error: function (data) {

            }
        })
    })

    function init() {
        // set the header columns in the #records table

        let selectors = [
            $("#new-records-modal").find('thead'),
            $("#records").find('thead')
        ]

        for (let selector of selectors) {
            let row = createElement('tr', [], {})

            if (selector.parent().attr('id') == 'records') {
                $(row).append(createElementsRecursively({
                    tag: "th",
                    classes: [],
                    attributes: {},
                    elements: [
                        {
                            tag: "input",
                            classes: ['form-check-input'],
                            attributes: { type: 'checkbox', id: 'select-all-rows' }
                        }
                    ]
                }))
            }

            $(row).append(createElementsRecursively({
                tag: "th",
                classes: [],
                attributes: {}
            }))

            if (selector.parent().attr('id') == 'records') {
                $(row).append(createElementsRecursively({
                    tag: "td",
                    classes: [],
                    attributes: {}
                }))
            }

            for (let column of state.table.columns) {
                let header = createElement("th", [], {})
                header.textContent = column.is_nullable ? column.name : `${column.name}*`

                $(row).append(header)
            }

            selector.html('')
            selector.append($(row).clone())
        }

        if (state.table.columns.length > 6) {
            $("#new-records-modal .modal-dialog").addClass("modal-fullscreen")
        }
    }

    function addRowsToNewRecordsModalTable(numberOfRows) {
        for (let i = 0; i < numberOfRows; i++) {
            let row = createElement('tr', [], { id: generateRandomId() })

            row.appendChild(
                createElementsRecursively({
                    tag: 'td',
                    classes: [],
                    attributes: {},
                    elements: [
                        {
                            tag: "i",
                            classes: ['text-danger', 'delete-record'],
                            attributes: { "data-feather": "trash", style: "height: 16; width: 16;" }
                        }
                    ]
                })
            )

            for (let column of state.table.columns) {
                let cell = createElementsRecursively({
                    tag: 'td',
                    classes: [],
                    attributes: {},
                    elements: [
                        {
                            tag: 'input',
                            classes: ['form-control'],
                            attributes: { type: 'text', name: `${column.name}`, "data-column-id": column.id }
                        }
                    ]
                })

                row.append(cell)
            }

            $("#new-records-modal .modal-body tbody").append(row)
        }

        feather.replace()
    }

    function displayRowsOnUpdateRecordsModalTable(rowsToDisplay) {
        rowsToDisplay.map((record, index) => {
            console.log(`Mapping the selected rows. Current row`)
            console.log(record)

            let rowId = generateRandomId()
            let row = createElement('tr', [], { id: rowId, "data-table-index": index })

            let deleteCell = createElement('td', [], {})
            $(row).append(deleteCell)

            let deleteIcon = createElement('i', ['delete-record', 'text-danger'],
                { style: "width: 16; height: 16", "data-feather": "trash" })
            $(deleteCell).append(deleteIcon)

            $(deleteCell).click(function () {
                $(`#${rowId}`).remove()
            })

            for (let column of state.table.columns) {
                let value = record[column.name];
                console.log(`The value of the ${column} column is ${value}`)

                let cell = createElementsRecursively({
                    tag: 'td',
                    classes: [],
                    attributes: {},
                    elements: [
                        {
                            tag: 'input',
                            classes: ['form-control'],
                            attributes: {
                                type: 'text', name: `${column.name}`,
                                "data-column-id": column.id, value: value ? value : ''
                            }
                        }
                    ]
                })

                row.append(cell)
            }

            $("#update-records-modal .modal-body tbody").append(row);
        })

        feather.replace()
    }

    function getRecords() {
        $.ajax({
            type: "GET",
            url: `http://${location.host}${API_URL}/ferdolt/tables/${TABLE_ID}/records/`,
            success: function (data) {
                state.tableRecords = data
                console.log("In ajax request, the records are: ")
                console.log(data)

                console.log("In ajax request, the records in state are: ")
                console.log(state.tableRecords)

                displayRecords()
            },
            error: function (data) {
                console.log(data.responseText)
            }
        })
    }

    function displayRecords() {
        $("#records").find("tbody").html('')

        console.log("In displayRecords() records gotten from the server")
        console.log(state.tableRecords)

        for (let record of state.tableRecords) {
            let rowId = generateRandomId()
            let row = createElement('tr', [], { id: rowId })

            let checkBoxCell = createElement('td', [], {})
            $(row).append(checkBoxCell)

            let checkBox = createElement('input', ['form-check-input', 'select-row'],
                { type: 'checkbox' })

            $(checkBox).change(function () {
                let object = {};

                // get the row details to select
                $(`#${rowId}`).find('.record-attribute').each((index, element) => {
                    let columnName = $(element).attr('data-column-name')

                    if (columnName) {
                        object[columnName] = $(element).text()
                    }
                })
                console.log("Input changed...")
                console.log(object)
                if (object) {
                    if ($(this).prop('checked')) {
                        console.log("Input was checked");
                        // add this record to the selected records
                        SELECTED_RECORDS.push(object)
                        numberOfSelectedRows += 1;
                    }

                    else {
                        console.log("Input was deselected");

                        numberOfSelectedRows -= 1;
                        let objectKeys = Object.keys(object);

                        let temp = SELECTED_RECORDS;

                        SELECTED_RECORDS.map((record, index) => {
                            console.log("In map function")
                            recordKeys = Object.keys(record)

                            let recordsAreEqual = true;

                            if (objectKeys.length !== recordKeys.length)
                                recordsAreEqual = false

                            for (let key of objectKeys) {
                                if (object[key] !== record[key]) {
                                    recordsAreEqual = false
                                    break;
                                }
                            }

                            if (recordsAreEqual) {
                                if (index != 0 && index != temp.length - 1) {
                                    temp = temp.slice(0, index) + temp.slice(index + 1, temp.length)
                                } else if (index == 0) {
                                    temp = temp.slice(1, temp.length)
                                } else {
                                    temp = temp.slice(0, index)
                                }
                            }
                        })

                        console.log("Out of map function")

                        SELECTED_RECORDS = temp;
                    }

                    console.log("Done evaluating stuff")

                    let actionButtonContainerSelector = "#action-buttons-container";

                    if (numberOfSelectedRows <= 0) {
                        console.log("Number of rows selected are: ")
                        console.log(numberOfSelectedRows)

                        $(actionButtonContainerSelector).addClass('d-none')
                    } else if (numberOfSelectedRows < state.tableRecords.length) {
                        console.log("Number of rows selected are: ")
                        console.log(numberOfSelectedRows)

                        $(actionButtonContainerSelector).removeClass('d-none')
                        $("#delete-many").text(`Delete ${numberOfSelectedRows} rows`)
                        document.getElementById

                        $("#edit-many").text(`Update ${numberOfSelectedRows} rows`)
                    } else {
                        console.log("Number of rows selected are: ")
                        console.log(numberOfSelectedRows)

                        $(actionButtonContainerSelector).addClass('d-none')
                        $("#delete-many").text(`Delete all`)

                        $("#edit-many").text(`Update all`)
                    }
                }
            })

            $(checkBoxCell).append(checkBox)

            let deleteCell = createElement('td', [], {})
            $(row).append(deleteCell)

            let deleteIcon = createElement('i', ["text-danger", 'remove-row', 'delete-record'],
                { "data-feather": "trash", style: "height: 16; width: 16;" })
            $(deleteCell).append(deleteIcon)

            let editCell = createElement('td', [], {})
            $(row).append(editCell)

            let editIcon = createElement('i', ['edit-record', 'text-primary'], {
                type: 'checkbox', "data-feather": "edit",
                style: "width: 16; height: 16"
            })
            $(editCell).append(editIcon)

            $(editCell).click(() => {

            })

            $(deleteCell).click(() => {
                let object = {};

                // get the row details to delete
                $(`#${rowId}`).find('.record-attribute').each((index, element) => {
                    console.log("Going through the motions")
                    console.log(element)
                    let columnName = $(element).attr('data-column-name')

                    if (columnName) {
                        object[columnName] = $(element).text()
                    }
                })

                $.ajax({
                    type: "DELETE",
                    url: `http://${location.host}${API_URL}/ferdolt/tables/delete_data/`,
                    data: JSON.stringify({
                        database: DATABASE_NAME,
                        schema: SCHEMA_NAME,
                        table: TABLE_NAME,
                        data: [
                            object
                        ]
                    }),
                    contentType: 'application/json',
                    success: function (data) {
                        displayMessage("Record deleted successfully", ["alert", "alert-success", "alert-dismissible"])
                        getRecords()
                    },
                    error: function (data) {
                        if (data.status == 500) {
                            displayMessage("A server error occured. Could not delete record")
                        }
                        else {
                            console.log(data.responseJSON)
                        }
                    }
                })

            })

            for (let column of state.table.columns) {
                let cell = createElement('td', ['record-attribute'], { "data-column-name": column.name })
                cell.textContent = record[column.name]
                row.appendChild(cell)
            }

            $("#records tbody").append(row)
        }
        feather.replace()

        $("#records").DataTable();
    }

    function getTableColumnNames() {
        array = []

        for (let column of state.table.columns) {
            array.push(column['name'])
        }

        return array
    }

    function submitNewRows() {
        rows = []

        $("#new-records-modal tbody tr").each(function () {
            object = {}

            $(this).find('input').each(function () {
                let inputName = $(this).attr('name').toLowerCase()

                if (getTableColumnNames().includes(inputName)) {
                    object[inputName] = $(this).val()
                }
            })

            rows.push(object)
        })

        $.ajax({
            type: "POST",
            url: `http://${location.host}${API_URL}/ferdolt/tables/insert_data/`,
            data: JSON.stringify(
                {
                    database: DATABASE_NAME,
                    schema: SCHEMA_NAME,
                    table: TABLE_NAME,
                    data: rows
                }
            ),
            contentType: "application/json",
            success: function () {
                displayMessage("Records have been added successfully", ["alert", "alert-success"])
            },
            error: function (data) {
                displayMessage("Error adding the records")
                console.log(data.responseJSON)
                console.log(rows)
            }
        })
        console.log(rows)
    }

    function submitRowUpdates() {
        console.log("Calling submitRowUpdates...")
        rows = [];

        $("#update-records-modal tbody tr").each( (i, row) => {
            console.log('The row is: ')
            console.log(row)
            let index = $(row).attr( 'data-table-index' )
            
            console.log(`The row's index is: ${index}`)

            if (index) {
                let currentRecord = SELECTED_RECORDS[index];
                console.log("currentRecord");
                console.log(currentRecord);

                let updateObject = {};
                let currentRecordKeys = Object.keys(currentRecord);

                console.log("Current record's keys")
                console.log(currentRecordKeys)

                $(row).find('input').each( ( j, input ) => {
                    let inputName = $(input).attr('name').toLowerCase();
                    let inputValue = $(input).val();

                    if ( getTableColumnNames().includes(inputName) && 
                        currentRecordKeys.includes(inputName) && 
                        currentRecordK[inputName] != inputValue
                    ) {
                        updateObject[inputName] = inputValue
                    }
                } )

                console.log("updateObject")
                console.log(updateObject);

                if (updateObject && currentRecord) {
                    rows.push({
                        current:currentRecord,
                        update: updateObject
                    })
                }
            }
        } )

        if (rows) {
            $.ajax({
                type: "PUT",
                url: `http://${location.host}${API_URL}/ferdolt/tables/update_data/`,
                data: JSON.stringify({
                    database: DATABASE_NAME, 
                    schema: SCHEMA_NAME,
                    table: TABLE_NAME,
                    data: rows
                }),
                contentType: "application/json",
                success: function (data) {
                    displayMessage( "The records have been successfull updated", ["alert", "alert-success", "alert-dismissible"] )
                    SELECTED_RECORDS = [];
                    numberOfSelectedRows = 0;
                    getRecords();
                },
                error: function (data) {
                    displayMessage("Error updating the records")
                }
            })
        } else {
            displayMessage("There are no updates to be made. Update a row and click the button again")
        }
    }
</script>
{% endif %}
{% endblock %}